{% extends '@admin/layout.html.twig' %}

{% block main %}
<div class="jumbotron">
    <h1 class="display-5">Bonjour !</h1>
    <p class="lead">Ceci est votre espace d'administration. Vous pouvez gérer le contenu de votre site, vos articles, vos partenaires et consulter les messages laissés par vos visiteurs.</p>
</div>
{% endblock %}