{% extends "./header.html"%}
{% block content %}
    <div class="articles row">

        {% for p in article %}
        <div class="articles__row__card">
		      <a class="articles__row__card__link" href="#">
  			    <span class="articles__row__card__header" style="background-image: url('../../uploads/{{p.image}}');"></span>
            <div class="articles__row__card__content">
        			<h3 class="articles__row__card__content__title">{{p.title}}</h3>
              <p class="articles__row__card__content__infos">Publié par <span class="articles__row__card__content__infos__span">{{p.subtitle}}</span></p>
              <p class="articles__row__card__content__infos"><span class="articles__row__card__content__infos__span">{{p.createdAt}}</span></p>
              <div class="articles__row__card__content__social">
                <img src="../../src/assets/img/facebook_share.png" alt="" class="articles__row__card__content__social__item">
                <img src="../../src/assets/img/twitter_share.png" alt="" class="articles__row__card__content__social__item">
              </div>
              <div class="articles__row__card__content__divider"></div>
              <p class="articles__row__card__content__excerpt">{{p.text}}</p>
            </div>
	      	</a>
	      </div>
        {% endfor %}

      <div class="liveFeed col-lg-4 col-md-12">
        <div class="LiveFeed__item">
          <a class="twitter-timeline" data-height="1000" href="https://twitter.com/AirFranceFR?ref_src=twsrc%5Etfw">Tweets by AirFranceFR</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </section>
{% endblock%}
