{% extends "./header.html"%}
{% block content %}
    <section class="top100">
      <h1 class="top100__title">Les TOP100<span class="dot">.</span></h1>
      <div class="top100__btns row">
        <a class="top100__btns__links col-lg-4" href="/top100">
          <div class="top100__btns__item ">
            <div class="top100__btns__item__pictureContainer">
              <img class="top100__btns__item__picture" src="../../src/assets/img/hotel.jpeg" alt="">
            </div>
            <p class="top100__btns__item__title">Hôtels</p>
          </div>
        </a>
        <a class="top100__btns__links col-lg-4" href="/top100">
          <div class="top100__btns__item">
            <div class="top100__btns__item__pictureContainer">
              <img class="top100__btns__item__picture" src="../../src/assets/img/restaurant.jpg" alt="">
            </div>
            <p class="top100__btns__item__title">Restaurants</p>
          </div>
        </a>
        <a class="top100__btns__links col-lg-4" href="/top100">
        <div class="top100__btns__item">
          <div class="top100__btns__item__pictureContainer">
            <img class="top100__btns__item__picture" src="../../src/assets/img/spa.jpg" alt="">
          </div>
          <p class="top100__btns__item__title">Bien-être</p>
        </div>
        </a>
      </div>
    </section>
    <section class="list row">
      <div class="list__filters col-lg-4">
        <div class="list__filters__cat">
          <h3 class="list__filters__cat__title">Type d'établissement</h3>
          <div class="list__filters__cat__options">
            <input name="hotels" type="checkbox" class="list__filters__cat__options__checkbox">
            <label for="hotels">Hôtels</label></br>
            <input name="restaurants" type="checkbox" class="list__filters__cat__options__checkbox">
            <label for="restaurants">Restaurants</label></br>
            <input name="bars" type="checkbox" class="list__filters__cat__options__checkbox">
            <label for="bars">Bars</label></br>
            <input name="spa" type="checkbox" class="list__filters__cat__options__checkbox">
            <label for="spa">Spas</label></br>
          </div>
        </div>
        <div class="list__filters__cat">
          <h3 class="list__filters__cat__title">Pays</h3>
          <div class="list__filters__cat__options">
            <input name="france" type="checkbox" class="list__filters__cat__options__checkbox">
            <label for="france">France</label></br>
            <input name="espagne" type="checkbox" class="list__filters__cat__options__checkbox">
            <label for="espagne">Espagne</label></br>
            <input name="Allemagne" type="checkbox" class="list__filters__cat__options__checkbox">
            <label for="Allemagne">Allemagne</label></br>
            <input name="portugal" type="checkbox" class="list__filters__cat__options__checkbox">
            <label for="portugal">Portugal</label></br>
          </div>
        </div>
        <div class="list__filters__cat">
          <h3 class="list__filters__cat__title">Note</h3>
          <div class="list__filters__cat__options">
            <input name="5" type="checkbox" class="list__filters__cat__options__checkbox">
            <label for="5">5</label></br>
            <input name="4+" type="checkbox" class="list__filters__cat__options__checkbox">
            <label for="4+">4 et plus</label></br>
            <input name="3+" type="checkbox" class="list__filters__cat__options__checkbox">
            <label for="3+">3 et plus</label></br>
            <input name="2+" type="checkbox" class="list__filters__cat__options__checkbox">
            <label for="2+">2 et plus</label></br>
          </div>
        </div>
      </div>
      <div class="list__results col-lg-8">

        {% for i in range(0, article.length) -%}
        <div class="list__results__item">
          <div class="list__results__item__imgContainer">
            <img src="../../uploads/{{article[i].image}}" alt="{{p.image}}" class="list__results__item__img">
          </div>
          <div class="list__results__item__infos">
            <div class="list__results__item__infos__top">
              <h3 class="list__results__item__infos__title">{{article[i].title}}</h3>
              <h4 class="list__results__item__infos__mark">{{article[i].note}}/5</h4>
            </div>
            <p class="list__results__item__infos__price"><span class="list__results__item__infos__price__blue">{{strNote[i]}}</span></p>
            <p class="list__results__item__infos__address">{{article[i].adress}}</p>
            <p class="list__results__item__infos__description">{{article[i].description}}</p>
          </div>
        </div>
        {%- endfor %}
      </div>
    </section>
  </div>

{% endblock %}
