{% extends "./header.html"%}
{% block content %}
  <section class="cover row">
    <div class="cover__container col-lg-6">
      <img class="cover__img" src="../../src/assets/img/couveture.png" alt="couverture magazine">
    </div>
    <div class="cover__text col-lg-6">
      <h3 class="cover__text__title">Des voyages testés, des idées pour partir toute l'année.</h3>
      <a href="#" class="cover__text__CTA">En savoir plus</a>
    </div>
  </section>
  <section class="mook">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="mook__title">Un Mook* collector pour des voyageurs avertis<span class="dot">.</span></h3>
        <p class="mook__subTitle">*Un mook (contraction de magazine et book) est un ouvrage hybride
          dont le format se situe entre le magazine et le livre. Il comprend également des
          dessins et des photos servant à l’illustration des textes.
        </p>
      </div>
    </div>
    <div class="row start-lg">
      <div class="col-xs-12">
        <div class="mook__textContainer">
          <div class="mook__textItem">
            <div class="mook__overLine"></div>
            <p class="mook__textContent">Un
              <span class="strong">mook annuel</span> à collectionner grâce à sa couverture illustrée,
              <span class="strong">œuvre d'un artiste.</span>
            </p>
          </div>
          <div class="mook__textItem">
            <div class="mook__overLine"></div>
            <p class="mook__textContent">Cinq dessins originaux issus des <span class="strong">"Illustrateurs
              Voyageurs"</span> de la communauté <span class="strong">Urban Sketchers.</span>
            </p>
          </div>
          <div class="mook__textItem">
            <div class="mook__overLine"></div>
            <p class="mook__textContent">
              <span class="strong">300 pages de reportages</span> sous forme de carnets de voyages.</p>
          </div>
          <div class="mook__textItem --mobile">
            <div class="mook__overLine"></div>
            <p class="mook_textContent"> Des
              <span class="strong">destinations testées et approuvées</span>par nos journalistes (pas de mauvaise surprise à l'arrivée !).</p>
          </div>
          <div class="mook__textItem --mobile">
            <div class="mook__overLine"></div>
            <p class="mook__textContent">Des
              <span class="strong">fiches pratiques d'exception</span> et détachables.</p>
          </div>
          <div class="mook__textItem --mobile">
            <div class="mook__overLine"></div>
            <p class="mook__textContent">
              <span class="strong">40.000 exemplaires vendus </span>en kiosques,
              librairies ainsi que sur notre site.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sheets">
    <div class="row center-xs">
      <div class="col-xs-12">
        <h3 class="sheets__title">Des fiches pratiques<span class="dot">.</span></h3>
      </div>
      <div class="col-xs-10">
        <p class="sheets_text">Minutieusement détaillées, <span class="strong">elles
          vous disent tout</span> des voyages décrits dans nos articles : hôtels,
          restaurants, boutiques, musée, shopping, lieux incontournables, <span class="strong">petits
          trésors cachés</span> ; mais aussi quelles sont <span class="strong">les meilleures
          compagnies aériennes</span> pour rejoindre votre destination.
        </p>
        <p class="sheets__text">Des <span class="strong">QR Codes intégrés</span> aux
          fiches pratiques offrent également<span class="strong"> une vitrine extra-large à nos partenaires.</span>
        </p>
      </div>
    </div>
  </section>
  <section class="app">
    <div class="row center-xs">
      <div class="col-xs-12">
        <h3 class="app__title">L'application mobile<span class="dot">.</span></h3>
      </div>
    </div>
    <div class="app__container row">
      <div class="app__store col-lg-6">
        <div class="app__store__appStore">
          <img class="app__store__appStore__img" src="../../src/assets/img/app_store.png" alt="app store">
        </div>
        <div class="app__store__googlePlay">
          <img class="app__store__googlePlay__img" src="../../src/assets/img/google_play.png" alt="google play">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="app__mockUp">
          <img class="app__mockUp__img" src="../../src/assets/img/app.png" alt="appli mobile" >
        </div>
      </div>
    </div>
  </section>
  </div>
  <section class="numbers">
    <div class="mainContainer">
      <div class="numbers__container row">
        <div class="numbers__content col-lg-3">
          <p class="numbers__content__stats">11</p>
          <p class="numbers__content__text">reporters- photographes</p>
        </div>
        <div class="numbers__content col-lg-3">
          <p class="numbers__content__stats">130</p>
          <p class="numbers__content__text">destinations</p>
        </div>
        <div class="numbers__content col-lg-3">
          <p class="numbers__content__stats">12 000 000</p>
          <p class="numbers__content__text">pages imprimées</p>
        </div>
        <div class="numbers__content col-lg-3">
          <p class="numbers__content__stats">4 211</p>
          <p class="numbers__content__text">Photos selectionnées</p>
        </div>
      </div>
    </div>
  </section>
  <div class="mainContainer">
    <section class="team">
      <div class="row center-xs">
        <div class="col-xs-12">
          <h3 class="team__title">L'équipe<span class="dot">.</span></h3>
        </div>
      </div>
      <div class="row ">
        <div class="col-xs-12 center-xs">
          <div class="team__container">
            <div class="team__cards">
              <div class="team__cards__pictureContainer">
                <img class="team__cards__picture" src="../../src/assets/img/team1.jpg" alt="team member">
              </div>
              <div class="team__cards__text">
                <h6 class="team__cards__name">Judith Lossman</h6>
                <p class="team__cards__role">Fondatrice & rédactrice en chef</p>
              </div>
            </div>
            <div class="team__cards">
              <div class="team__cards__pictureContainer">
                <img class="team__cards__picture" src="../../src/assets/img/team2.jpg" alt="team member">
              </div>
              <div class="team__cards__text">
                <h6 class="team__cards__name">Caroline M’zali</h6>
                <p class="team__cards__role">Pigiste & secrétaire de rédaction</p>
              </div>
            </div>
            <div class="team__cards">
              <div class="team__cards__pictureContainer">
                <img class="team__cards__picture" src="../../src/assets/img/team3.jpg" alt="team member">
              </div>
              <div class="team__cards__text">
                <h6 class="team__cards__name">Inma Serrano</h6>
                <p class="team__cards__role">Illustratrice</p>
              </div>
            </div>
            <div class="team__cards">
              <div class="team__cards__pictureContainer">
                <img class="team__cards__picture" src="../../src/assets/img/team4.jpg" alt="team member">
              </div>
              <div class="team__cards__text">
                <h6 class="team__cards__name">Damien Dégremont</h6>
                <p class="team__cards__role">Développeur Web</p>
              </div>
            </div>
          </div>
    </section>
  </div>

{% endblock %}
