{% extends "./header.html"%}
{% block content %}
    <a href="/categories" class="ranking__return">← Retour</a>
    <section class="ranking row">
      <div class="ranking__list col-lg12">
        <div class="ranking__list__item">
          <h4 class="ranking__list__item__rank">1</h4>
          <div class="ranking__list__item__imgContainer">
            <img src="../../src/assets/img/hotel1.jpg" alt="" class="ranking__list__item__img">
          </div>
          <div class="ranking__list__item__infos">
            <div class="ranking__list__item__infos__top">
              <h3 class="ranking__list__item__infos__title">Grand Hôtel ****</h3>
              <h4 class="ranking__list__item__infos__mark">4,8/5</h4>
            </div>
            <p class="ranking__list__item__infos__price"><span class="ranking__list__item__infos__price__blue">€€€€</span></p>
            <p class="ranking__list__item__infos__address">42 Avenue Lorem, 06230 Villefranche sur Mer</p>
            <p class="ranking__list__item__infos__description">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua, ut enim ad minim veniam.</p>
            <a href="" class="ranking__list__item__infos__link">Visiter leur site</a>
          </div>
        </div>
        <div class="ranking__list__item">
          <h4 class="ranking__list__item__rank">2</h4>
          <div class="ranking__list__item__imgContainer">
            <img src="../../src/assets/img/hotel1.jpg" alt="" class="ranking__list__item__img">
          </div>
          <div class="ranking__list__item__infos">
            <div class="ranking__list__item__infos__top">
              <h3 class="ranking__list__item__infos__title">Grand Hôtel ****</h3>
              <h4 class="ranking__list__item__infos__mark">4,azeaz/5</h4>
            </div>
            <p class="ranking__list__item__infos__price"><span class="ranking__list__item__infos__price__blue">€€€€</span></p>
            <p class="ranking__list__item__infos__address">42 Avenue Lorem, 06230 Villefranche sur Mer</p>
            <p class="ranking__list__item__infos__description">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua, ut enim ad minim veniam.</p>
            <a href="" class="ranking__list__item__infos__link">Visiter leur site</a>
          </div>
        </div>
      </div>
    </section>
{% endblock %}