.boiteaimages{
    .header{
        height: 700px;
        background: #ddd url(../img/indonesia.jpg);
        background-size: cover;
        background-position: center;

        .title{
            @include font-bold;
            color: #fff;
            font-size: 56px;
            padding-top: 260px;
            padding-bottom: 30px;
            line-height: 1.4;
            text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
            margin: 0;
        }
    }
    
    .filters{
        padding: 100px 0;
        padding-bottom: 60px;
        border-bottom: solid 1px #dedede;
        
        .menu{
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-around;
            @include responsive-below(sm){
                display: block;
            }
            
            li{
                display: inline-block;
                font-size: 28px;
                @include font-bold;
                border-bottom: solid 2px transparent;
                cursor: pointer;
                transition: 0.2s;
                @include responsive-below(sm){
                    display: block;
                    text-align: center;
                    margin: 15px 0;
                }
            }
            
            li:hover{
                border-bottom: solid 2px #f15025;
            }
            
            .active{
                border-bottom: solid 2px #f15025;
            }
        }
    }
    
    .carousel-display{
        padding-bottom: 150px;
        border-radius: 3px;
        
        .carousel-item{
            img{
                height: 600px;
                border-radius: 3px;
            }
        }
        
        .carousel-control-prev, .carousel-control-next{
            font-size: 60px;
            color: #fff;
            text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
        }
        
        .carousel-caption{
            
            h5{
                @include font-bold;
                font-size: 32px;
                text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
                display: inline-block;
                margin: auto;
                padding-bottom: 10px;
                border-bottom: solid 2px #f15025;
            }
            
            p{
                font-size: 18px;
                padding-bottom: 30px;
                padding-top: 15px;
                text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
            }
        }
        
        .carousel-indicators li{
            height: 16px;
            width: 16px;
            border-radius: 100%;
            margin: 0 6px;
        }
        
        #carousel-bienetre, #carousel-culture, #carousel-sport{
            display: none;
        }
    }
}