.contact{
    .header{
        height: 700px;
        background: #ddd url(../img/hvitserkur.jpg);
        background-size: cover;
        background-position: center;
        
        .title{
            @include font-bold;
            color: #fff;
            font-size: 56px;
            padding-top: 260px;
            padding-bottom: 30px;
            line-height: 1.4;
            text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
            margin: 0;
        }
        
//        .decorative-bar{
//            width: 3px;
//            height: 240px;
//            background: #f15025;
//            margin: auto;
//            
//        }
        
    }
    
    .localisation{
        padding-top: 100px;

        .title{
            display: inline-block;
            @include font-bold;
            font-size: 56px;
            margin-bottom: 100px;
        }
        
        h3{
            font-size: 20px;
            @include font-bold;
            text-decoration: underline;
            padding-top: 25px;
            padding-bottom: 6px;
        }
        
        ul{
            list-style: none;
            padding: 0;
            
            li{
                font-size: 18px;
                @include font-regular;
            }
        }
        
        .contacts{
            margin-top: 100px;
            width: 100%;
            
            .contact-fb{
                border-radius: 10px;
                padding: 30px;
                padding-bottom: 15px;
                background: #fff;
                border: solid 1px #dedede;
                box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.15);
                display: flex;
                justify-content: flex-start;
                margin-bottom: 40px;

                .left{
                    i{
                        font-size: 50px;
                        margin-right: 30px;
                        color: #0084ff;
                    }
                }
                .right{
                    .h3{
                        @include font-bold;
                    }

                    ul{
                        line-height: 5px;
                    }
                }
            }

            .contact-phone{
                border-radius: 10px;
                padding: 30px;
                padding-bottom: 15px;
                background: #fff;
                border: solid 1px #dedede;
                box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.15);
                display: flex;
                justify-content: flex-start;
                margin-bottom: 40px;

                .left{
                    i{
                        font-size: 50px;
                        margin-right: 30px;
                        color: #1cb030;
                    }
                }
                .right{
                    .h3{
                        @include font-bold;
                    }

                    ul{
                        line-height: 5px;
                    }
                }
            }
        }        
    }
    
    .form-contact{
        text-align: center;
        @include font-bold;
        font-size: 46px;
        padding-top: 100px;
        padding-bottom: 50px;
        
        button{
            margin-top: 60px;
        }
        
        select{
            padding-left: 5px;
        }
    }
}