html {
  font-size: 62.5%; }

body {
  font-family: "Agency FB",sans-serif; }

.main-title {
  font-size: 1.6rem;
  text-align: center;
  margin: 10%; }

.login {
  width: 25%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .login .form-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; }
    .login .form-container .input {
      background: #fff;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #e2e2e2;
      border-radius: 2px;
      outline: none;
      font-size: 1.6rem; }
