.header {
  background: url("../assets/img/cote.png") no-repeat;
  background-size: cover;
  height: 249px;
  padding-top: 5%; }
  @media (min-width: 600px) {
    .header {
      height: 100vh;
      padding-bottom: 50px; } }
  .header__header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    width: 40px;
    height: 40px;
    margin-left: 5%; }
  .header__burger {
    width: 20px;
    height: 20px; }
    @media (min-width: 600px) {
      .header__burger {
        display: none; } }
  .header__nav {
    display: none; }
    @media (min-width: 600px) {
      .header__nav {
        display: block;
        margin-right: 50%;
        min-width: 40%; } }
    .header__nav__items {
      display: flex; }
      .header__nav__items__item {
        margin-left: 15%; }
        .header__nav__items__item__link {
          text-decoration: none;
          color: white;
          white-space: nowrap; }
  .header__three {
    min-width: 300px;
    text-align: center; }
  .header__title {
    color: white;
    margin-top: 150px;
    margin-left: 5%;
    margin-top: 450px; }

.preview {
  padding-right: 5%; }
  .preview__title {
    margin-top: 20px;
    margin-left: 5%; }
    @media (min-width: 600px) {
      .preview__title {
        margin-top: 200px; } }
  .preview__blueline {
    height: 1px;
    width: 50px;
    background-color: #00CCCC;
    margin-top: 10px;
    margin-left: 6%; }
    @media (min-width: 600px) {
      .preview__blueline {
        margin-bottom: 70px; } }
  .preview__paragraph {
    margin: 10% 8% 0 8%; }
    @media (min-width: 600px) {
      .preview__paragraph {
        margin-top: 30px; } }
  .preview__textArrow {
    display: flex;
    align-items: center;
    margin-top: 150px;
    justify-content: flex-end;
      justify-content-text-align: center;
      justify-content-min-width: 500px; }
    .preview__textArrow__arrow {
      width: 15px;
      margin-left: 5%; }
    .preview__textArrow__text {
      font-weight: bold; }
    @media (min-width: 600px) {
      .preview__textArrow {
        margin-top: 60px; } }

.oneWorld__title {
  margin-top: 280px;
  margin-left: 5%; }
  @media (min-width: 600px) {
    .oneWorld__title {
      margin-top: 160px; } }

.oneWorld__blueline {
  height: 1px;
  width: 55px;
  background-color: #00CCCC;
  margin-top: 10px;
  margin-left: 6%;
  margin-bottom: 50px; }

.oneWorld__container {
  display: none; }
  @media (min-width: 600px) {
    .oneWorld__container {
      display: flex;
      justify-content: space-around; } }
  .oneWorld__container__item {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 20%;
    height: 313px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; }
    .oneWorld__container__item__circle {
      height: 60px;
      width: 60px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      z-index: 2;
      margin-bottom: 50px; }
    .oneWorld__container__item__img {
      height: 66%; }
    .oneWorld__container__item__box {
      border-top: 1px solid rgba(0, 0, 0, 0.5); }

.oneWorld__mobileContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px; }
  @media (min-width: 600px) {
    .oneWorld__mobileContainer {
      display: none; } }
  .oneWorld__mobileContainer__item {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 40%;
    height: 313px; }

.starAlliance__title {
  margin-top: 50px;
  margin-left: 5%; }

.starAlliance__blueline {
  height: 1px;
  width: 55px;
  background-color: #00CCCC;
  margin-top: 10px;
  margin-left: 6%; }

.starAlliance__container {
  display: none; }
  @media (min-width: 600px) {
    .starAlliance__container {
      display: flex;
      justify-content: space-around;
      margin-top: 50px; } }
  .starAlliance__container__item {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 20%;
    height: 313px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; }
    .starAlliance__container__item__img {
      height: 66%; }
    .starAlliance__container__item__box {
      border-top: 1px solid rgba(0, 0, 0, 0.5); }

.starAlliance__mobileContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px; }
  @media (min-width: 600px) {
    .starAlliance__mobileContainer {
      display: none; } }
  .starAlliance__mobileContainer__item {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 40%;
    height: 313px; }

.skyTeam__title {
  margin-top: 50px;
  margin-left: 5%; }

.skyTeam__blueline {
  height: 1px;
  width: 55px;
  background-color: #00CCCC;
  margin-top: 10px;
  margin-left: 6%; }

.skyTeam__container {
  display: none; }
  @media (min-width: 600px) {
    .skyTeam__container {
      display: flex;
      justify-content: space-around;
      margin-top: 50px; } }
  .skyTeam__container__item {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 20%;
    height: 313px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; }
    .skyTeam__container__item__img {
      height: 66%; }
    .skyTeam__container__item__box {
      border-top: 1px solid rgba(0, 0, 0, 0.5); }

.skyTeam__mobileContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px; }
  @media (min-width: 600px) {
    .skyTeam__mobileContainer {
      display: none; } }
  .skyTeam__mobileContainer__item {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 40%;
    height: 313px; }

.footer {
  height: 51px;
  background-color: #4A4A4A;
  margin-top: 80px;
  padding-left: 8%;
  padding-top: 2%; }
  .footer__logo {
    width: 34px;
      width-height: 34px; }
