<footer class="footer">
    <div class="footer__wrapper wrapper">
        <p class="footer__text">Tous droits réservés Une Année De Voyages ©2018-2022</p>
        <div class="footer__social">
            <a class="footer__link" target="_blank" href="https://www.facebook.com/uneanneedevoyages/">
                <i class="footer__icon fa fa-facebook"></i>
            </a>
            <a class="footer__link" target="_blank" href="https://twitter.com/1AnneeDeVoyages">
                <i class="footer__icon fa fa-twitter"></i>
            </a>
            <a class="footer__link" target="_blank" href="https://www.instagram.com/uneanneedevoyages/">
                <i class="footer__icon fa fa-instagram"></i>
            </a>
            <a class="footer__link" target="_blank" href="https://www.youtube.com/channel/UCESfTu2chDpHfGFkx-cfKDQ">
                <i class="footer__icon fa fa-youtube"></i>
            </a>
        </div>
    </div>
</footer>
<section class="modal">
    <ul class="modal__items">
        <li class="modal__item">
            <a class="modal__link" href="actualite.html">Actualité</a>
        </li>
        <li class="modal__item">
            <a class="modal__link" href="spas.html">Spas</a>
        </li>
        <li class="modal__item">
            <a class="modal__link" href="hotels.html">Hotels</a>
        </li>
        <li class="modal__item">
            <a class="modal__link" href="restaurants.html">Restaurants</a>
        </li>
        <li class="modal__item">
            <a class="modal__link" href="contact.html">Contact</a>
        </li>
    </ul>
</section>