<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Accueil</title>
  <link rel="stylesheet" href="style/reset.css">
  <link rel="stylesheet" href="style/accueilStyle.css">
</head>

<body>
  <header class="header">
    <div class="headerNavTContainer">
      <div class="headerNavLogoContainer"><img class="headerNavLogo" src="img/home/planewhite.png" alt="LogoUneAnneeDeVoyage" class="logo"></div>
      <div class="headerNavBurger"><img class="headerNavTel" src="img/home/burger.png" alt="BurgerMenu" class="bugerMenu"></div>
    </div>
    <div class="headerNavContainer">
      <a class="headerNav" href="">Home</a>
      <a class="headerNav" href="">Actualités</a>
      <a class="headerNav" href="">Fiches pratiques</a>
      <a class="headerNav" href="">Boite à image</a>
      <a class="headerNav" href="">Top 100</a>
      <a class="headerNav" href="">Contact</a>
    </div>
    <div class="headerTitleContainer">
      <h1 class="headerTitle">Une Année de Voyages</h1>
      <h1 class="headerSubTitle">Soyez un voyageur averti !</h1>
    </div>
  </header>
  <section class="mookSection">
    <img class="mookSectionImg" src="img/Accueil/uadv-couv.png" alt="CouvertureDuMook" class="mookImg">
    <div class="mookDescriptContainer">
      <h2 class="mookTitle">Mook Collector</h2>
      <p class="mookDescrip">"Un mook (contraction de magazine et book) est un ouvrage hybride dont le format se situe entre le magazine et le livre. Il est publié de manière périodique et renferme essentiellement de grands reportages. Il comprend également des dessins et des
        photos servant à l’illustration des textes." <span class="mookDescripWiki">— Wikipédia</span></p>
      <ul class="mookList">
        <li class="mookListDescrip">Un mook annuel à collectionner grâce à sa couverture illustrée, œuvre d'un artiste.</li>
        <li class="mookListDescrip">Des goddies : 5 dessins originaux issus des "illustrateurs voyageurs" de la communauté internationale Urban Sketchers.</li>
        <li class="mookListDescrip">300 pages de reportages sous forme de "carnets de voyages".</li>
        <li class="mookListDescrip">Des destinations testées et approuvées par nos journalistes (pas de mauvaise surprise à l'arrivée !).
        </li>
        <li class="mookListDescrip">40.000 exemplaires vendus en kiosques, librairies et sur notre site.</li>
        <li class="mookListDescrip">Des fiches pratiques d'exception et détachables.
        </li>
        <li class="mookListDescrip">TV YouTube</li>
      </ul>
    </div>
  </section>
  <section class="toolTip">
    <h3 class="toolTipTitle">Des fiches pratiques</h3>
    <ul class="toolTiptextContainer">
      <li class="toolTiptext">Minutieusement détaillées, elles vous disent tout du voyage décrit nos articles : Hôtels, restaurants, boutiques, musée, shopping, The Place to be et aussi quelle est la meilleure compagnie aérienne pour rejoindre par exemple San Francisco, quelles
        sont les meilleures dates, comment aller à pied de Nob Hill au Golden Gate en passant par des ruelles remplies de street art méconnus du grand public, arriver pile à l'heure pour être dans l'axe du soleil sur le 3ème pilier et réussir à coup sûr
        la photo du siècle tout en s'émerveillant de la beauté de la Bay... ça, c'est Une Année de Voyages !
      </li>
      <li class="toolTiptext">Des QR Codes intégrés aux fiches pratiques pour offrir une vitrine extra-large à nos partenaires
      </li>
    </ul>
    <h3 class="toolTipTitle"> Une application</h3>
    <ul class="toolTiptextContainer">
      <li class="toolTiptext">Qui supprime l'obsolescence du print... Rien que ça ! Une Année De Voyages est un mook print qui vit simultanément à l’ère du numérique... C'est sur l'application que nos fiches pratiques seront updatées et téléchargeables ! Ainsi Une Année De Voyages
        devient une sorte de "bible" intemporelle des destinations avec des reportages bénéficiant d'une durée de vie illimitée... Le rêve !
      </li>
      <li class="toolTiptext">Qui vous dit, sous forme d'un Quizz fun et personnalisé "Quel voyage êtes-vous ?" dont le résultat renvoie forcément à une destination qui correspond à un de nos articles.</li>
    </ul>
    <h3 class="toolTipTitle">Un Site</h3>
    <ul class="toolTiptextContainer">
      <li class="toolTiptext">Présentation des numéros en cours et archivés</li>
      <li class="toolTiptext">La possibilité d'acheter en ligne les numéros déjà parus et l'actuel en cours</li>
      <li class="toolTiptext">D'accéder via un abonnement Full Premium à tous les articles avant leur parution dans le prochain mook</li>
      <li class="toolTiptext">Les bons plans aériens</li>
      <li class="toolTiptext">Les Tops 100 : restaurants, hôtels, spas</li>
    </ul>
  </section>
  <section class="statScreen">
    <div class="statScreenContainer">
      <div class="statScreenNumberContainer">
        <p class="statScreenNumber">11</p>
        <p class="statScreenDesc">Reporters et photographes</p>
      </div>
      <div class="statScreenNumberContainer">
        <p class="statScreenNumber">130</p>
        <p class="statScreenDesc">Destinations</p>
      </div>
      <div class="statScreenNumberContainer">
        <p class="statScreenNumber">12 M</p>
        <p class="statScreenDesc">Pages imprimés</p>
      </div>
      <div class="statScreenNumberContainer">
        <p class="statScreenNumber">4211</p>
        <p class="statScreenDesc">Photos sélectionnées</p>
      </div>
    </div>
  </section>
  <section class="annonceur">
    <div class="slider">
      <div class="slide_viewer">
        <div class="slide_group">
          <div class="slide">
          </div>
          <div class="slide">
          </div>
          <div class="slide">
          </div>
          <div class="slide">
          </div>
        </div>
      </div>
    </div>

    <div class="slide_buttons">
    </div>


    </svg>
    </div>
    <div class="next_btn" title="Next">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="-11 -11.5 65 66">
      <g>
        <g>
          <path fill="#474544" d="M22.118,54.736C4.132,54.736-10.5,40.103-10.5,22.118C-10.5,4.132,4.132-10.5,22.118-10.5    c17.985,0,32.618,14.632,32.618,32.618C54.736,40.103,40.103,54.736,22.118,54.736z M22.118-8.288  c-16.765,0-30.406,13.64-30.406,30.406c0,16.766,13.641,30.406,30.406,30.406c16.768,0,30.406-13.641,30.406-30.406 C52.524,5.352,38.885-8.288,22.118-8.288z"/>
          <path fill="#474544" d="M18.022,33.569c 0.282,0-0.566-0.105-0.781-0.323c-0.432-0.431-0.432-1.132,0-1.564l10.022-10.035            L17.241,11.615c 0.431-0.432-0.431-1.133,0-1.564c0.432-0.432,1.132-0.432,1.564,0l10.803,10.814c0.433,0.432,0.433,1.132,0,1.564 L18.805,33.243C18.59,33.464,18.306,33.569,18.022,33.569z"/>
        </g>
      </g>
    </svg>
    </div>
    </div>
    <!-- End // .directional_nav -->
  </section>
  <section class="campagneUl">
    <div class="campagneUlContainer">
      <div class="campagneUlImgContainer"><img class="campagneUlImg" src="img/Accueil/ulule.png" alt=""></div>
      <div class="campagneUlDescContainer">
        <div class="campagneUlTitle">Campagne ULULE</div>
        <div class="campagneUlDescSub">Née d'une idée d'éditrice, Une Année De Voyages sera le premier Mook français, voire européen entièrement consacré aux voyages. Pour soutenir la commercialisation lancée auprès des annonceurs, nous ouvrons une souscription sur le site de crowdfunding
          Ulule.com.
        </div>
        <div class="campagneUlDescSubTimer">UNE ANNÉE DE VOYAGES RECHERCHE SES 2000 PREMIERS LECTEURS !</div>
        <div class="campagneUlDescKnow"><a class="campagneUlDescKnowLink" href="">en savoir plus</a></div>

      </div>
    </div>
  </section>
  <footer class="footer">
    <h1 class="footerPartenaire">PARTENAIRES</h1>
    <div class="footerPartImgContainer">
      <img class="footerPartImg" src="img/Accueil/adp-logo2.png" alt="">
      <img class="footerPartImg" src="img/Accueil/Fujifilm_logo_logotype.png" alt="">
      <img class="footerPartImg" src="img/Accueil/nikon-logo.png" alt="">
    </div>
    <div class="footerBotomContainer">
      <div class="footerBotomCopyContainer">
        <h1 class="footerBotomCopyContainerNav">Homepage</h1>
        <h1 class="footerBotomCopyContainerNav">About</h1>
        <h1 class="footerBotomCopyContainerNav">US contact</h1>
      </div>
      <div class="footerBotomCopyright">Tous droits réservés Une Année De Voyages ©2018-2020</div>
    </div>
  </footer>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="../../js/index.js"></script>
</script>

</html>