<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Une année de voyage</title>
  <link rel="stylesheet" href="style/reset.css">
  <link rel="stylesheet" href="style/style.css">
</head>

<body>
  <div class="headerMargin">
    <header class="header">
      <div class="headerNav">
        <div><img class="headerLogo" src="img/home/planewhite.png" alt=""></div>
        <div><img class="headerBurger" src="img/home/burger.png" alt=""></div>
      </div>
      <div class="headerNavContainer">
        <a class="headerNavTitle" href="">Home</a>
        <a class="headerNavTitle" href="">Actualités</a>
        <a class="headerNavTitle" href="">Fiches pratiques</a>
        <a class="headerNavTitle" href="">Boite à image</a>
        <a class="headerNavTitle" href="">Top 100</a>
        <a class="headerNavTitle" href="">Contact</a>
      </div>
    </header>
    <div class="headerContainer">
      <h1 class="headerTitle">Une Année</h1>
      <h3 class="headerSubTitle"> Des voyages testés... Des idées pour partir toute l'année !</h3>
      <h1 class="headerTitle">de voyages</h1>
    </div>
    <div class="headerArrow">
      <img class="headerArrow" src="img/home/down-arrow.png" alt="">
    </div>
  </div>
</body>

</html>