<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/top100.css">
    <title></title>
  </head>
  <body>
    <section class="topcontainer">
      <h1 class="topTitle">TOP 100 DES</h1>
      <div class="topBoxContainer">
        <div class="topBox"></div>
        <div class="topBox"></div>
        <div class="topBox"></div>
        <div class="topBox"></div>
        <div class="topBox"></div>
        <div class="topBox"></div>
        <div class="topBox"></div>
        <div class="topBox"></div>
        <div class="topBox"></div>
        <div class="topBox"></div>
        <div class="topBox"></div>
        <div class="topBox"></div>
      </div>
    </section>

  </body>
</html>
