<!DOCTYPE html>
<html>
  <head>
    <title>Admin Login</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../src/style/style.css">
    <link rel="stylesheet" href="../../src/style/flexboxgrid.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body id="login">

    <div class="container" style="margin-top: 30vh;">

        <form class="form-signin" style="margin: 0 auto;"method="post" action="/auth">
          <h2 class="contact__leftSection__top__title">Admin</h2>
          <input class="contact__formSection__form__input" type="text" id="company" name="company" value="" placeholder="Votre nom" required maxlength="50">
          <input class="contact__formSection__form__input" type="password" id="password" name="name" value="" placeholder="Votre mot de passe" required maxlength="50">
          <input  class="contact__formSection__form__submit" type="submit" value="Se connecter">
        </form>
  
      </div> <!-- /container -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>