<<<<<<< HEAD
.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  &__img {
    width: 40px;
    margin-top: 20px;
    margin-left: 20px;
  }
}

.Menu {
  width: 50px;
  margin-top: 20px;
  margin-right: 20px;
  &__imgBlack {
    -webkit-filter: brightness(0.20);
    filter: brightness(0.20);
  }
}

=======
.Header{
  background: green;
  height: 50px;
  width: 100vw;
}
>>>>>>> 66bfd1f0c217a1abeccfabc5e16eb6f5324c52f0
