.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  &__img {
    width: 40px;
    margin-top: 20px;
    margin-left: 20px;
  }
}

.Menu {
  width: 50px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 20px;
}
