.Oneplug {
  background: white;
  &__header {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  &__headerTextContainer {
    line-height: 32px;
    padding-top: 40px;
    padding-left: 20px;
  }
  &__headerCountryTitle {
    font-family: 'AvenirNext-Regular';
    color: #32CCCD;
  }
  &__headerCityTitle {
    font-family: 'AvenirNext-Regular';
    color: white;
    font-size: 30px;
  }
  &__contentParagraph {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
  }
  &__line {
    width: 20px;
    height: 3px;
    background: #32CCCD;
    margin-top: 8px;
  }
  &__paragraph {
    width: 80%;
    font-family: 'AvenirNext-Regular';
    margin-left: 10px;
    color: #646464;
    line-height: 20px;
  }
  &__closeIconContainer {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  &__iconsContainer {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }
  &__iconsLine {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__iconBox {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  &__text {
    margin-top: 10px;
    font-family: 'AvenirNext-Regular';
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
}
