.Top {
  background-position: left;
  background-size: cover;
  height: 100vh;
  &__titles {
    margin-top: 200px;
    margin-left: 20px;
  }
  &__hotelTitle {
    font-family: 'AvenirNext-Regular';
    color: white;
    font-size: 38px;
    line-height: 48px;
  }
}

.Plugs {
  background: white;
  width: 100%;
}
.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  &__plug {
    width: 250px;
    height: 300px;
    background: white;
    margin-top: 50px;
    -webkit-box-shadow: 2px 2px 12px -1px rgba(204,204,204,1);
    -moz-box-shadow: 2px 2px 12px -1px rgba(204,204,204,1);
    box-shadow: 2px 2px 12px -1px rgba(204,204,204,1);
    position: relative;
  }
  &__imgContainer{
    width: 100%;
    height: 125px;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__countryTitle {
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Didot';
    color: #32CCCD;
  }
  &__cityTitle {
    margin-left: 20px;
    font-family: 'AvenirNext-Regular';
    color: #646464;
    font-size: 18px;
  }
  &__cityTitleContainer {
    margin-top: 5px;
    line-height: 20px;
  }
  &__place {
    width: 50px;
    height: 50px;
    background: #32CCCD;
    border-radius: 100%;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 100px;
    right: -25px;
  }
  &__placeText {
    font-family: 'AvenirNext-Regular';
    color: white;
  }
  &__paragraph {
    margin-left: 20px;
    width: 200px;
    font-family: 'AvenirNext-UltraLight';
    font-size: 12px;
  }
  &__boldParagraph {
    font-family: 'AvenirNext-Regular';
    font-weight: 400;
  }
  &__articleLinkContainer {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__articleLink {
    font-family: 'AvenirNext-Regular';
    color: #32CCCD;
    font-size: 10px;
  }
  &__arrow {
    font-size: 8px;
  }
}
