.Stats {
  background: #1E6E97;
  &__description {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__descriptionLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__descriptionNumber {
    font-family: 'AvenirNext-Bold';
    color: white;
    margin-bottom: 10px;
  }
  &__descriptionText {
    font-family: 'AvenirNext-Medium';
    color: white;
  }
}