.magazine {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  background-image: url("../img/magback.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &-title {
    margin-top: 10%;
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;

    span {
      font-weight: bold;
    }
  }

  &-titleBar {
    display: none;
  }

  &-cover {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  &-img {
    width: 230px;
    height: 330px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }

  &-magazine {
    color: #EBE9E9;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    position: absolute;
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    text-transform: uppercase;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }

  &-text {
    display: none;
  }

  &-link {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    a {
      font-size: 21px;
      font-weight: 200;
      color: #000000;
      background-color: #FFFFFF;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
      padding: 15px;
      transition: all 0.3s;
    }

    a:hover {
      font-size: 21px;
      padding: 13px;
    }
  }
}

.background {
  position: absolute;
  width: 50%;
  left: 0;
  height: 100vh;
  background-color: #D7FCF4;
  z-index: -1;
}

@media (min-width: 700px) {
  .magazine {
    width: 100%;
    height: 800px;

    &-title {
      margin-left: auto;
      margin-right: auto;
      font-size: 25px;
    }

    &-magazine {
      font-size: 60px;
    }

    &-img {
      width: 290px;
      height: 400px;
    }
  }
}

@media (min-width: 1024px) {
  .magazine {
    width: 100%;
    height: 100vh;

    &-title {
      display: none;
    }

    &-titleBar {
      margin-top: -17px;
      margin-left: 125px;
      display: block;
      width: 95px;
      height: 5px;
      background-color: #FFFFFF;
    }

    &-cover {
      margin-top: 20vh;
      margin-left: 34%;
      margin-right: auto;
    }

    &-magazine {
      font-size: 80px;
    }

    &-img {
      margin: 10px auto;
      width: 400px;
      height: 580px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }

    &-text {
      position: absolute;
      display: block;
      width: 350px;
      margin-top: 21vh;
    }

    &-descri {
      color: #676767;
      font-size: 24px;
      font-weight: bold;
      text-align: justify;
      line-height: 30px;
    }

    &-linkLG {
      text-align: center;
      color: #676767;
      font-size: 22px;
      font-weight: bold;
      text-decoration: underline;
    }

    &-link {
      display: none;
    }
  }

  .breaker {
    width: 90%;
    margin-top: 70px;
    margin-bottom: 50px;
  }
}
