@import ../mixins/mixins

body
  overflow-x: hidden

.headerTops
  width: 100vw
  height: 50px
  background: #fff
  border-bottom: 1px solid #32CCCD
  display: flex
  justify-content: space-between
  align-items: center
  &__nav
    position: fixed
    z-index: 2
    display: flex
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0
    top: 0
    justify-content: space-between
    align-items: center
    padding: 0 4%
    @include for-size(desktop-up)
      width: 53%
      margin-left: 0
      margin-right: 0

.header
  background: url("../assets/img/main.jpg")
  background-size: cover
  height: 100vh
  width: 100%
  &__nav
    position: fixed
    z-index: 2
    display: flex
    margin-left: auto
    margin-right: auto
    justify-content: space-between
    align-items: center
    width: 95vw
    @include for-size(desktop-up)
      width: 100vw
      height: 50px
      background: rgba(0,0,0,0.2)
    &__logo__img
      visibility: hidden
      margin-left: 5vw
      width: 45px
      @include for-size(desktop-up)
        visibility: visible
    &__list
      display: none
      @include for-size(desktop-up)
        display: flex
        justify-content: space-around
        width: 70%
      &__item
        @include for-size(desktop-up)
          color: #fff
          font-size: 1.4rem
        &:hover
          color: #32CCCD
          cursor: pointer
    &__burger
      display: flex
      flex-direction: column
      cursor: pointer
      position: relative
      z-index: 2
      @include for-size(tablet-landscape-up)
        display: none

      &__item
        margin: 3px 0
        width: 33px
        height: 4px
        background: #32CCCD
        transition: 0.2s ease
  &__infos
    color: #fff
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    height: 100%
    padding: 10% 0
    justify-content: flex-end
    &__title
      padding: 20px 0
      font-size: 1.8rem
      line-height: 2.2rem
      text-transform: uppercase
      width: 196px
      @include for-size(tablet-portrait-up)
        width: 379px
        font-size: 2.6rem
    &__quote
      padding: 20px 0
      font-size: 1.4rem
      line-height: 1.8rem
      font-weight: 500
      width: 234px
      @include for-size(tablet-portrait-up)
        width: 423px
        font-size: 2.0rem
        line-height: 2.2rem


.burger
  width: 100%
  height: 100vh
  background: #fff
  position: fixed
  z-index: 1
  right: -100%
  padding: 10%
  top: 0
  transition: 0.3s ease
  &__container
    display: flex
    flex-direction: column
    justify-content: center
    height: 100%
    &__item
      font-size: 1.6rem
      padding: 40px 0 0
      font-weight: 500
      &__home
        cursor: pointer
      &__title
        &__link
          cursor: pointer
      &__subtitle
        padding: 7% 10% 0
        font-weight: 200
        &__link
          cursor: pointer



.--set-position
  right: 0

.--set-rotationLeft
  transform: rotate(45deg)
  transform-origin: 30px 0
  transition: 0.3s ease

.--set-rotationRight
  transform: rotate(-45deg)
  transform-origin: 17px 0
  transition: 0.3s ease

.--is-active
  display: none


.search
  width: 90vw
  margin: auto
  height: 100vh
  @include for-size(desktop-up)
    height: auto
  &__head
    text-align: center
    &__title
      font-size: 1.4rem
      font-family: 'montserrat-bold'
      text-transform: uppercase
      padding-top: 30px
      @include for-size(tablet-landscape-up)
        padding-top: 60px
        font-size: 1.6rem
      @include for-size(desktop-up)
        font-size: 1.8rem
    &__underline
      height: 1px
      background: #32CCCD
      width: 50px
      margin: 10px auto 30px auto
      @include for-size(tablet-landscape-up)
        margin: 10px auto 50px auto
        width: 70px
  &__infosContainer
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin: 20px 0
    &__item
      width: 35%
      margin: 0 20px
      display: flex
      align-items: center
      flex-direction: column
      @include for-size(tablet-landscape-up)
        width: 32%
        margin: 0
      &__img
        width: 90px
        height: 90px
        border-radius: 50%
        background: #000
        overflow: hidden
        @include for-size(tablet-landscape-up)
          width: 152px
          height: 152px
        @include for-size(desktop-up)
          width: 180px
          height: 180px
        & > a
          & > img
            height: 100%
      &__title
        font-size: 1.2rem
        text-align: center
        padding: 14px 0 45px
        @include for-size(tablet-landscape-up)
          font-size: 1.3rem
        @include for-size(desktop-up)
          font-size: 1.4rem

.articlesSection
  width: 100vw
  height: 100vh
  margin: 20px auto
  @include for-size (tablet-portrait-up)
    height: auto
    width: 90vw
  @include for-size(desktop-up)
    margin: 50px auto
  &__title
    font-family: "montserrat-bold"
    text-align: center
    text-transform: uppercase
    font-size: 1.4rem
    @include for-size(tablet-landscape-up)
      font-size: 1.6rem
    @include for-size(desktop-up)
      font-size: 1.8rem
  &__underline
    height: 1px
    background: #32CCCD
    width: 50px
    margin: 10px auto 30px auto
    @include for-size(tablet-landscape-up)
      width: 70px
    @include for-size(desktop-up)
      margin: 10px auto 50px auto
  &__articlesCtn
    height: 72vh
    width: 100vw
    position: relative
    @include for-size (tablet-landscape-up)
      display: grid
      width: 100%
      margin: auto
      padding-bottom: 5vh
      grid-template-columns: repeat(3, 1fr)
      grid-template-rows: repeat(2, 40vh)
      overflow: hidden
      grid-gap: 10px
      height: auto
      @include for-size (desktop-up)
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: 250px 200px
    &__article
      width: 90%
      height: 100%
      position: relative
      margin: auto
      display: none
      overflow: hidden
      @include for-size (tablet-landscape-up)
        display: block
      &__title
        color: #fff
        font-size: 20px
        position: absolute
        z-index: 2
        padding: 30px 20px
        line-height: 34px
        font-family: 'montserrat-regular'
      &__img
        height: 100%
        overflow: hidden
        @include for-size (tablet-landscape-up)
        min-width: 100%
        position: absolute
        transition: transform .5s
        &:hover
          transform: scale(1.1)
          transition: transform .5s
          cursor: pointer
      &__ctn
        display: none
        @include for-size (desktop-up)
          display: block
          margin: 0 auto
          box-shadow: 5px 10px 8px #e6e6e6
          padding: 10px
          justify-content: center
          height: 200px
        &__content
          font-size: 13px
          line-height: 19px

          font-family: 'didot',sans-serif
          height: 150px
          overflow: hidden

        &__circle
          width: 100%
          & > a
            margin: auto
            height: 35px
            width: 35px
            border: 1px solid #32CCCD
            cursor: pointer
            color: #32CCCD
            border-radius: 50%
            background: #fff
            display: flex
            justify-content: center
            align-items: center
            &:hover
              background: #32CCCD
            & svg
              width: 70%
              z-index: 2
            & svg:hover
              fill: #ffffff

    .circlesCtn
        display: flex
        justify-content: center
        width: 100%
        position: absolute
        bottom: 20px
        z-index: 2
        @include for-size (tablet-landscape-up)
          display: none
        & > div
          border-radius: 50%
          border: 1px solid #fff
          height: 11px
          width: 11px
          margin: 0 5px
        & > div:first-child
          background: #fff
    &__article:nth-child(2)
      grid-column-start: 3
      grid-column-end: 4
      width: 100%
      @include for-size (desktop-up)
        grid-column-start: 2
        grid-column-end: 3
    &__article:nth-child(3)
      grid-column-start: 1
      grid-column-end: 2
      width: 100%
      @include for-size (desktop-up)
        grid-column-start: 3
        grid-column-end: 4
    &__article:nth-child(4)
      grid-column-start: 2
      grid-column-end: 4
      width: 100%
      @include for-size (desktop-up)
        display: none
    &__article:first-child
      display: block
      @include for-size (tablet-landscape-up)
      grid-column-start: 1
      grid-column-end: 3
      width: 100%
      @include for-size (desktop-up)
        grid-column-start: 1
        grid-column-end: 2
  &__btn
    border: 1px solid #32CCCD
    cursor: pointer
    height: 30px
    width: 140px
    display: flex
    align-items: center
    justify-content: center
    font-size: 12px
    margin: 30px auto
    @include for-size (tablet-landscape-up)
      margin: 20px auto
      height: 35px
      font-size: 12px
      width: 150px
      @include for-size (desktop-up)
        margin: 20px auto
        height: 40px
        font-size: 13px
        width: 160px
    &:hover
      background: #32CCCD
      color: #fff

.top
  width: 90vw
  margin: auto
  @include for-size(tablet-landscape-up)
    height: 80vh
  &__head
    display: flex
    align-items: center
    flex-direction: column
    @include for-size(tablet-landscape-up)
      align-items: flex-start
      padding: 0 4%
    &__title
      font-size: 1.4rem
      font-weight: bold
      text-transform: uppercase
      margin: auto
      @include for-size(tablet-landscape-up)
        font-size: 1.6rem
        margin-top: 50px
      @include for-size(desktop-up)
        font-size: 1.8rem
    &__underline
      height: 1px
      background: #32CCCD
      width: 50px
      margin: 10px auto 30px auto
      @include for-size(tablet-landscape-up)
        margin: 10px auto 50px auto
        width: 70px
  &__container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    @include for-size(tablet-landscape-up)
      flex-direction: inherit
    &__item
      width: 80%
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50)
      margin-bottom: 8vh
      overflow: hidden
      @include for-size(tablet-landscape-up)
        margin: 0 2vw
      &__img
        width: 100%
        transition: transform .5s
        &:hover
          transform: scale(1.1)
          transition: transform .5s
      &__title
        text-align: center
        padding: 5% 0
        font-size: 1.4rem
        font-family: 'montserrat-regular'

.advertise
  width: 100vw
  height: 30vh
  background: url("../assets/img/sand.png")
  background-size: cover
  margin: 20px 0
  @include for-size(tablet-landscape-up)
    height: 360px
  &__infos
    display: flex
    height: 100%
    flex-direction: column
    align-items: center
    justify-content: center
    color: #fff
    &__title
      font-size: 1.9rem
      font-family: 'montserrat-bold'
      text-align: center
      padding: 30px auto
    &__sentence
      font-size: 1.4rem
      padding: 20px 0 40px 0
    &__btn
      border: 1px solid #fff
      color: #fff
      cursor: pointer
      height: 30px
      width: 140px
      display: flex
      align-items: center
      justify-content: center
      font-size: 1.1rem
      margin: 30px auto
      text-transform: uppercase
      @include for-size (tablet-landscape-up)
        margin: 20px auto
        height: 35px
        font-size: 12px
        width: 150px

.twitter
  padding: 10px
  &__head
    display: flex
    align-items: center
    flex-direction: column
    @include for-size(tablet-landscape-up)
      align-items: flex-start
      padding: 0 4%
    &__title
      font-size: 1.4rem
      font-weight: bold
      padding-top: 20px
      text-transform: uppercase
      margin: auto
      @include for-size(tablet-landscape-up)
        font-size: 1.6rem
      @include for-size(desktop-up)
        font-size: 1.8rem
    &__underline
      height: 1px
      background: #32CCCD
      width: 17%
      margin: 10px 0 50px
      @include for-size(tablet-landscape-up)
        width: 6%
        margin: 10px auto 30px auto
  &__container
    display: flex
    flex-direction: column
    @include for-size(tablet-landscape-up)
      flex-direction: inherit
      justify-content: space-around

.promo
  padding: 10px
  &__head
    display: flex
    align-items: center
    flex-direction: column
    @include for-size(tablet-landscape-up)
      align-items: flex-start
      padding: 0 4%
    &__title
      font-size: 1.4rem
      font-family: 'montserrat-bold'
      padding-top: 20px
      text-transform: uppercase
      @include for-size(tablet-landscape-up)
        font-size: 1.6rem
        margin: auto
      @include for-size(desktop-up)
        font-size: 1.8rem
    &__underline
      height: 1px
      background: #32CCCD
      width: 17%
      margin: 10px 0 30px
      @include for-size(tablet-landscape-up)
        width: 6%
        margin: 10px auto 30px auto
  &__container
    display: flex
    flex-direction: column
    align-items: center
    @include for-size(tablet-landscape-up)
      flex-direction: inherit
      justify-content: space-around
    &__img
      width: 70vw
      @include for-size(tablet-landscape-up)
        width: 329px
        order: 2
    &__description

      justify-content: center
      width: 75%
      text-align: center
      &__img
        width: 73px
        display: none
        @include for-size(tablet-landscape-up)
          display: block
      .--right
        float: right
      &__text
        margin: 35px 0 0
        font-size: 1.0rem
        line-height: 2.0rem
        font-weight: 500

        @include for-size(tablet-landscape-up)
          order: 1
          width: 81%
          margin: 0 auto
          font-size: 1.4rem
          line-height: 2.8rem
          &__quote
            font-weight: 100

.staff
  padding: 10px
  &__head
    display: flex
    align-items: center
    flex-direction: column
    @include for-size(tablet-landscape-up)
      align-items: flex-start
      padding: 0 4%
    &__title
      font-size: 1.4rem
      font-weight: bold
      padding-top: 50px
      text-transform: uppercase
      @include for-size(tablet-landscape-up)
        font-size: 1.6rem
        margin: auto
      @include for-size(desktop-up)
        font-size: 1.8rem
    &__underline
      height: 1px
      background: #32CCCD
      width: 17%
      margin: 10px 0 50px
      @include for-size(tablet-landscape-up)
        margin: 10px auto 30px auto
        width: 6%
  &__container
    display: flex
    flex-direction: column
    align-items: center
    @include for-size(tablet-landscape-up)
      flex-direction: inherit
    &__item
      display: flex
      justify-content: space-between
      align-items: center
      margin: 10px 0
      width: 84%
      @include for-size(tablet-landscape-up)
        align-items: center
        justify-content: center
        flex-direction: column
      &__img
        width: 67px
        height: 67px
        border-radius: 50%
        background: #000
        @include for-size(tablet-landscape-up)
          margin: 10px
          width: 178px
          height: 178px
      &__infos
        width: 63%
        text-align: center
        &__name
          font-size: 1.2rem
          padding:  5px 0
          @include for-size(tablet-landscape-up)
            font-size: 1.4rem
        &__status
          font-size: 1.0rem
          font-weight: 100
          @include for-size(tablet-landscape-up)
            font-size: 1.4rem
  &__contact
    display: flex
    align-items: center
    margin: 5% 29px 5% 0
    justify-content: flex-end
    @include for-size(tablet-landscape-up)
      margin: 5% 5% 0
    &__text
      font-size: 1.0rem
      margin: 4%
      @include for-size(tablet-landscape-up)
        font-size: 1.2rem

.sponsor
  padding: 10px
  &__container
    display: flex
    justify-content: center

.footer
  background: #4A4A4A
  height: 39px
  @include for-size(tablet-landscape-up)
    height: 96px
