.Nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 19%;
    top: 6%;
    right: 13%;
    z-index: 5;
    background: #FFFFFF;
    font-size: 20px;

    &_item {
        cursor: pointer;

        &::hover{
            border-bottom: 1px solid #000000;
            animation: all 1s ease; 
        }
    }
}