// global
@import './global/reset';
@import './global/variables';

// mixins
@import './mixins/forsize';

@import './component/nav';
@import './component/homepage';
@import './component/articles';
@import './component/contact';
@import './component/modal';
@import './component/top';


* {
  box-sizing: border-box;
}

html {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
