@font-face {
  font-family: "LeagueSpartan-Bold";
  src: url("../fonts/LeagueSpartan-Bold.otf");
}
@font-face {
  font-family: "Montserrat300";
  src: url("../fonts/Montserrat300.ttf");
}


.top{
  width: 85%;
  margin: 0 auto;
  &-container{}
  &-titleContainer{
    margin: 70px 0 40px 0;
  }
  &-mainTitle{
    font-size: 38px;
    font-family: "LeagueSpartan-Bold"
  }
  &-titleDecor{
    width: 65px;
    height: 4px;
    background-color: black;
    margin-bottom: 26px;
  }
}
