.bot {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 1px 5px 5px 0 rgba(0,0,0,0.20);
  &-contact {
    width: 90%;
    font-family: 'Tw Cen MT Bold', sans-serif;
    background-color: #15DAB6;
    color: white;
    margin-top: 5vh;
    padding: 5%;
    @include for-size(tablet-landscape-up){
      width: 40%;
      margin-top: 0;
      padding: 0;
      padding-bottom: 2%;
    }
    &-title {
      text-transform: uppercase;
      @include for-size(tablet-landscape-up){
        margin-top: 50px;
        margin-left: 50px;
      }
    }
    &-box {
      display: flex;
      margin-top: 7vh;
      margin-bottom: 7vh;
      &-img {
        width: 50px;
      }
      &-p {
        padding: 20px;
      }
    }
    &-horaire {
      margin-left: 30%;
      padding-left: 20px;
    }
    &-social {
      display: flex;
      margin-left: 10%;
      margin-top: 10vh;
      &-link {
        width: 15%;
        &-icon {
          width: 30px;
        }
      }

    }
  }
  &-msg {
    width: 100%;
    padding: 0;
    font-family: 'Tw Cen MT Bold', sans-serif;
    margin-bottom: 5vh;
    color: #9B9B9B;
    @include for-size(tablet-landscape-up) {
      width: 55%;
      padding-left: 5%;
    }
    &-title {
      font-family: 'Tw Cen MT Condensed Extra Bold', sans-serif;
    //  font-family: 'Playfair Display BlackItalic',serif;
      text-transform: uppercase;
      font-size: 1.5rem;
      width: 100%;
      margin-top: 2vh;
      text-align: center;
      color: #4A4A4A;
      @include for-size(tablet-landscape-up) {
        margin-top: 5vh;
        text-align: left;
      }
    }
    &-type {
      display: flex;
      margin-top: 10vh;
      flex-wrap: wrap;
      margin-left: 5%;
      @include for-size(tablet-landscape-up){
        margin-left: 0;
      }
      &-title {
        width: 100%;
        text-transform: uppercase;

        margin-bottom: 3vh;
        letter-spacing: 3px;
        @include for-size(tablet-landscape-up){
          width: 20%;
        }
      }
      &-row {
        width: 100%;
        height: 5vh;
        & input {
          margin-left: 20px;
        }
        & label {
          padding-left: 10px;
          color: #767676;
        }
      }
    }
    &-fields {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      margin-top: 3vh;
      &-info {
        width: 45%;
        margin-left: 5%;
        @include for-size(tablet-landscape-up){
          width: 50%;
          margin-left: 0;
        }
        & label {
          height: 3vh;
          text-transform: uppercase;
          margin-top: 3vh;
          letter-spacing: 3px;
        }
        & input {
          width: 80%;
          height: 3vh;
          border: none;
          border-bottom: 1px solid #ccc;
        }
        :focus {
          color: #15DAB6;
          outline: none;
        }
      }
      &-textarea {
        width: 95%;
        margin-left: 5%;
        @include for-size(tablet-landscape-up){
          margin-left: 0;
          width: 100%;
        }
        & label {
          margin-top: 5vh;
          height: 3vh;
          text-transform: uppercase;
          letter-spacing: 3px;
        }
        & textarea {
          width: 72%;
          margin-top: 3vh;
          height: 15vh;
          border: none;
          border-bottom: 1px solid #ccc;
          font-size: 1.2rem;
        }
        :focus {
          color: #15DAB6;
          outline: none;
        }
      }
    }
  }
}

.centerImgFooter {
  display: flex;
  justify-content: center;
  width: 30%;
}

.flexdir {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include for-size(tablet-landscape-up){
    width: 80%;
  }
}

input {
  font-family: 'Tw Cen MT Bold', sans-serif;
  font-size: 1.2rem;
}

.send {
  position: absolute;
  bottom: 0;
  right: 0;
  @include for-size(tablet-portrait-up){
    right: 5%;
  }
  @include for-size(tablet-landscape-up){
    right: 10%;
    bottom: 5%;
  }
  & img {
    width: 70px;
  }
}
