.categ {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #767676;
  flex-wrap: wrap;
  @include for-size(tablet-landscape-up){
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
  }
  @include for-size(desktop-up){
    width: 90%;
  }
  &-lien {
    width: 33%;
    height: 20px;
    margin-top: 10px;
    color: #767676;
    text-decoration: none;
    font-family: 'Tw Cen MT Condensed Extra Bold', sans-serif;
    text-transform: uppercase;
    text-align: center;
    @include for-size(tablet-portrait-up){
      width: auto;
      height: auto;
    }
  }
}

.container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5vh auto 0 auto;
  &-fiche {
    margin: 2vh auto 0 auto;
    background-color: pink;
    height: 30vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include for-size(tablet-portrait-up){
      width: 45%;
    }
    @include for-size(tablet-landscape-up){
      width: 23%;
    }
    &-img {
      width: 100%;
      height: 100%;
    }
    &-title {
      font-family: 'Tw Cen MT Condensed Extra Bold', sans-serif;
      font-size: 1.2rem;
      position: absolute;
      & a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.seemore {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 5vh;
  &-link {
    margin-right: 10%;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Tw Cen MT Condensed Extra Bold', sans-serif;
    color: white;
    text-transform: uppercase;
    background-color: #15DAB6;
  }
}

.greenbottom {
  margin-top: 5vh;
  width: 100%;
  height: 150px;
  background-color: #15DAB6;
  @include for-size(tablet-landscape-up){
    height: 200px;
  }
  @include for-size(desktop-up){
    height: 250px;
  }
}

.active {
  background-color: #15DAB6;
  color: white;
  @include for-size(tablet-portrait-up){
    padding: 5px 10px;
  }
}

.btn-card {
  display: block;
  margin-top: 40px;
}
