@media (min-width: 1100px) {
  .twitterActu-section {
    /* margin-top: 100px; */
    width: 100%;
    height: 750px;
    background-image: url("../img/twitterback.png");
    background-size: cover;
    background-position: center;
  }
  .twitterTitle {
    font-family: "Tw Cen MT Condensed";
    /* font-weight: 550; */
    font-size: 30px;
    color: #FFF;
    padding-top: 60px;
    margin-left: 6vw;
  }
  .tweet-box {
    display: flex;
    padding-top: 40px;
    justify-content: center;
  }
  .tweet1 {
    width: 30vw;
  }
  .tweet2 {
    width: 30vw;
    margin-left: -15px;
    padding-top: 200px;
    z-index: 100;
  }
  .tweet3 {
    width: 30vw;
    margin-left: -15px;
  }
  .savoirplus-section {
    display: flex;
    justify-content: flex-end;
  }
  .twitter-savoirplus {
    background-color: #fff;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 148px;
  }
  .twitterLink {
    line-height: 50px;
    font-family: "Tw Cen MT Condensed Extra Bold";
    /* font-weight: bold; */
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
    color: #15DAB6;
  }
  .twitter-tweet {
    box-shadow: 0px -1px 5px black;
  }
}

@media (max-width: 1099px) {
  .twitterActu-section {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    background-image: url("../img/twitterback.png");
    background-size: cover;
    background-position: center;
  }
  .twitterTitle {
    font-family: "Tw Cen MT Condensed";
    font-size: 30px;
    color: #FFF;
    padding-top: 60px;
    text-align: center;
  }
  .tweet-box {
    padding-top: 40px;
  }
  .twitter-tweet {
    box-shadow: 0px -1px 2px black;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
  .tweet1 {
    margin-bottom: 30px;
  }
  .tweet2 {
    margin-bottom: 30px;
  }
  .tweet3 {
    margin-bottom: 30px;
  }
  .twitter-savoirplus {
    background-color: #fff;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 30px;
  }
  .twitterLink {
    line-height: 50px;
    font-family: "Tw Cen MT Condensed Extra Bold";
    /* font-weight: bold; */
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
    color: #15DAB6;
  }
  .savoirplus-section {
    display: flex;
    justify-content: flex-end;
  }
}
