// Colors
// $bkdColor: #1E1E1E;
// $txtColor: rgba(255, 255, 255, 0.99);
// $bodyBkdColor: rgba(0, 0, 0, 0.99);

// BREAKPOINTS
$bp-tablet: 375px;
$bp-desktop: 400px;
$bp-desktop-large: 750px;
$bp-desktop-x-large: 1730px;
