{% extends "./header.html" %}
{% block content %}

    <form style="margin: 40px;display: flex;flex-direction: column;" action="{{href}}" method="POST" enctype="multipart/form-data">

        {% for p in value %}
        {% if (p !== "image") and (p !== "logo") %}
        <label for="{{p}}">{{p}} :</label>
        <input type="text" name="{{p}}" id="{{p}}">
        {% endif %}
        {% if (p === "image") or (p === "logo") %}
        <label for="{{p}}">{{p}} :</label>
        <input type="file" name="{{p}}" id="{{p}}">
        {% endif %}
        {% endfor %}
    
        <input style="margin-top: 20px;width: 150px;" class="btn btn-secondary" type="submit" value="Add article">
    </form>

{% endblock %}