{% extends "./header.html" %}
{% block content %}

    <form style="margin: 40px;display: flex;flex-direction: column;" action="{{update}}{{id}}" method="post" enctype="multipart/form-data">

        {% for i in range(0, lenght) -%}
        {% if (tabKey[i] !== "image") and (tabKey[i] !== "logo") %}
        <label for="{{tabKey[i]}}">{{tabKey[i]}} :</label>
        <input type="text" name="{{tabKey[i]}}" id="{{tabKey[i]}}" value="{{tab[i]}}">
        {% endif %}
        {% if (tabKey[i] === "image") or (tabKey[i] === "logo") %}
        <label for="{{tabKey[i]}}">{{tabKey[i]}} :</label>
        <input type="file" name="{{tabKey[i]}}" id="{{tabKey[i]}}" value="{{tab[i]}}">
        {% endif %}
        {%- endfor %}
    
        <input style="margin-top: 20px;width: 150px;" class="btn btn-secondary" type="submit" value="Edit article">
    </form>

{% endblock %}