@import url('https://fonts.googleapis.com/css?family=Poppins');

body{

}
/*header */
.header {
  background: url('https://zupimages.net/up/18/21/h5f6.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  color: white;
  font-family: 'Poppins', sans-serif;
  height: 300px;
}
.headerNavTContainer {
  display: flex;
  justify-content: space-between;

}
.headerNavLogo {
  width: 55px;
  height: 39px;
}
.headerNavTel {
  width: 46px;
  height: 23px;
}
.headerNavLogoContainer {
  display: ;
  margin: 10px 0 0 10px;
}
.headerNavBurger {
  margin-top: 10px;
  margin-right: 10px;
}
.headerNavContainer {

  display: none;
  justify-content: flex-end;
}
.headerNav {
  margin-right: 1%;
  color: white;

}
.headerTitleContainer {
  text-align: center;
  margin-top: 45px;
 }
.headerTitle{
  font-size: 40px;
}
.headerSubTitle{
  padding-top: 1%;
  font-size: 20px;
}
/* Section formulaire Twitter */
.twitter_form_container{

}

.twitter_delete{
  background-color: #49c6e5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}

.form_twitter{
    margin-top: 50%;
 display:block;
 float:left;
 width:150px;
 text-align: left;
 padding:0 5px 0 0;
 font-family: 'Poppins';
}

.create_twittter_btn{
  background-color: #49c6e5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}

.twitter_container2{
  display: flex;
  flex-wrap: wrap;
}
/* Section News Air */

.newsairTitle{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 30px;
  color: #49c6e5;
  padding: 2%;
}
.newsairDescContainer{
  padding: 3%;
}

.newsairP1{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.newsairp2{
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  text-align: center;
}
.newsairLink{
  color: #49c6e5;
  margin-top: 5%;
  display: block;
  text-align: center;
}

/* Twitter container */
.twitterContainer{
  display: flex;
  justify-content: space-around;
}

.twitterTitle{
  margin-top: 2%;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 30px;
  color: #49c6e5;
}
/* Les logo */
.logoTeamAirImgContainer{
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoTeamAirImgStar{
  width: 15%;
}

.logoTeamAirImgSky{
  width: 15%;
}
.logoTeamAirImgOne{
  width: 15%;
}
/* Footer style */

.footer {
  font-family: 'Poppins', sans-serif;
  background-color: #9ac2cc;
}
.footerPartenaire {
  padding-top: 20px;
  text-transform: uppercase;
  margin: 50px 0 20px 0;
  text-align: center;
  font-size: 40px;
  color: white;
}
.footerPartImgContainer {
  text-align: center;
}
.footerPartImg {
  margin-right: 80px;
}
.footerBotomCopyContainer {
  display: flex;
}
.footerBotomContainer {
  display: flex;
  color: white;
  padding: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footerBotomCopyContainer{
  margin-left: 30px;
}
.footerBotomCopyContainerNav{
  text-transform: uppercase;
  padding-right: 30px;
}
.footerBotomCopyright{
  text-transform: uppercase;
  margin-right: 30px;
}
