@import url('https://fonts.googleapis.com/css?family=Poppins');


/* Titre */

.topTitle{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 20px;
  color: #49c6e5;
}


/** lES BOX **/
.topBoxContainer{
  margin-top: 5%;
  margin-left: 25%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
}

.topBox{
  width: 200px;
  height: 200px;
  background-color: black;
  margin-bottom: 20px;
}
/*header */
.header {
  background: url('https://zupimages.net/up/18/21/h5f6.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  background-position: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  height: 300px;
  object-fit: cover;

}
.headerNavTContainer {
  display: flex;
  justify-content: space-between;

}
.headerNavLogo {
  width: 55px;
  height: 39px;
}
.headerNavTel {
  width: 46px;
  height: 23px;
}
.headerNavLogoContainer {
  display: ;
  margin: 10px 0 0 10px;
}
.headerNavBurger {
  margin-top: 10px;
  margin-right: 10px;
}
.headerNavContainer {
  display: none;

}

.headerNav {
  margin-right: 1%;
  color: white;
}
.headerNav:hover {
  margin-right: 1%;
  color: #49c6e5;
  border-bottom: 1px solid;
}
.headerTitleContainer {
  text-align: center;
  margin-top: 70px;
}
.headerTitle{
  font-size: 40px;
}
.headerSubTitle{
  padding-top: 1%;
  font-size: 20px;
}

/* Footer style */

.footer {
  font-family: 'Poppins', sans-serif;
  background-color: #9ac2cc;
}
.footerPartenaire {
  padding-top: 20px;
  text-transform: uppercase;
  margin: 50px 0 20px 0;
  text-align: center;
  font-size: 40px;
  color: white;
}
.footerPartImgContainer {
  text-align: center;
}
.footerPartImg {
  margin-right: 80px;
}
.footerBotomCopyContainer {
  display: flex;
}
.footerBotomContainer {
  display: flex;
  color: white;
  padding: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footerBotomCopyContainer{
  margin-left: 30px;
}
.footerBotomCopyContainerNav{
  text-transform: uppercase;
  padding-right: 30px;
}
.footerBotomCopyright{
  text-transform: uppercase;
  margin-right: 30px;
}

@media screen and (min-width: 1024px) {
  /* header Style Descktop */
  .headerNavContainer {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: 10px 20px 0 0;
  }
  .headerNavBurger {
    display: none;
  }
  .headerNavLogo {
    position: absolute;
  }
}