@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, section, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: 'Futura', sans-serif; }
  .header-bg {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 1;
    transition: all 2s ease !important; }
  .header-nav {
    background-color: #FFFFFF;
    width: 102%;
    height: 70px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 3000; }
  .header-logo {
    margin-top: 14px;
    float: left; }
    .header-logo img {
      width: 40px;
      height: 40px; }
  .header-burger {
    margin-top: 17px;
    float: right;
    cursor: pointer; }
    .header-burger img {
      width: 35px;
      height: 35px; }
      @media (min-width: 768px) {
        .header-burger img {
          display: none; } }
  .header-menuPhone {
    display: none;
    width: 110%;
    height: 100vh;
    position: absolute;
    margin-left: -10%;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.5s; }
  .header-menuBack {
    cursor: pointer;
    color: white;
    font-weight: 900;
    margin-top: 25px;
    margin-left: 70%;
    transition: all 0.3s; }
    .header-menuBack:hover {
      color: #D7FCF4; }
  .header-menuList {
    margin-top: 30%;
    font-family: 'Futura', sans-serif;
    font-weight: lighter; }
  .header-menuElements {
    margin-top: 30px; }
  .header-menuLinks {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 35px; }
    .header-menuLinks:hover {
      color: #D7FCF4; }
  .header-list {
    display: none; }
    @media (min-width: 768px) {
      .header-list {
        display: flex;
        margin-top: 25px;
        float: right;
        font-family: 'Futura', sans-serif;
        font-weight: lighter; } }
    @media (min-width: 992px) {
      .header-list {
        margin-top: 23px; } }
  .header-links {
    color: #000000;
    font-size: 18px;
    margin-left: 15px; }
    @media (min-width: 992px) {
      .header-links {
        font-size: 21px;
        margin-left: 23px; } }
    .header-links:hover {
      color: white;
      text-shadow: -1px -1px 1px #4c4c4c, 1px -1px 1px #4c4c4c, -1px 1px 1px #4c4c4c, 1px 1px 1px #4c4c4c;
      transition: all 0.5s ease; }
  .header-texts {
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center; }
  .header-title {
    color: white;
    font-weight: 900;
    margin: 24px 0;
    font-size: 30px;
    text-align: center; }
    @media (min-width: 768px) {
      .header-title {
        font-size: 40px;
        text-align: left; } }
  .header-text {
    font-family: 'Futura', sans-serif;
    font-size: 24px;
    color: white;
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px; }
    @media (min-width: 768px) {
      .header-text {
        font-size: 28px;
        text-align: left; } }
  .header-more {
    background: white;
    display: block;
    text-align: center;
    width: 200px;
    margin: 50px auto;
    padding: 16px 32px;
    border-radius: 5px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transition: all 0.5s ease;
    cursor: pointer; }
    @media (min-width: 768px) {
      .header-more {
        margin: 50px 0; } }
    .header-more:hover {
      color: white;
      text-shadow: -1px -1px 1px #4c4c4c, 1px -1px 1px #4c4c4c, -1px 1px 1px #4c4c4c, 1px 1px 1px #4c4c4c;
      transition: all 0.5s ease; }

.hidden {
  opacity: 0;
  transition: all 1.5s ease !important; }

.article {
  font-family: 'Futura', sans-serif;
  margin: auto;
  overflow: hidden; }
  .article-title {
    text-align: center;
    margin: 16px 0;
    color: #969696; }
    .article-title::after {
      content: "";
      display: inline-block;
      width: 25%;
      margin-left: 2%;
      height: 2px;
      background: #969696; }
      @media (min-width: 576px) {
        .article-title::after {
          width: 30%; } }
      @media (min-width: 768px) {
        .article-title::after {
          width: 35%; } }
      @media (min-width: 992px) {
        .article-title::after {
          width: 40%; } }
    .article-title::before {
      content: "";
      display: inline-block;
      width: 25%;
      margin-right: 2%;
      height: 2px;
      background: #969696; }
      @media (min-width: 576px) {
        .article-title::before {
          width: 30%; } }
      @media (min-width: 768px) {
        .article-title::before {
          width: 35%; } }
      @media (min-width: 992px) {
        .article-title::before {
          width: 40%; } }
  .article-flex {
    height: auto;
    margin: 16px 0; }
    @media (min-width: 1200px) {
      .article-flex {
        display: flex; } }
    .article-flex-filtre {
      display: none; }
      @media (min-width: 1200px) {
        .article-flex-filtre {
          display: block;
          min-width: 238px;
          position: relative; }
          .article-flex-filtre-btnfiltre {
            float: left;
            clear: both;
            background: #B4B4B4;
            padding: 8px 12px 8px 52px;
            color: #FEFFFE;
            border: 1px solid #969696;
            font-size: 32px;
            font-weight: 700;
            display: inline; }
            .article-flex-filtre-btnfiltre:hover {
              transition: all ease .4s; }
            .article-flex-filtre-btnfiltre-icon {
              position: absolute;
              width: 50px;
              height: 50px;
              top: 5px;
              left: 4px; }
          .article-flex-filtre-btnfermer {
            background: #676767;
            display: inline;
            padding: 18px 10px 14px 10px;
            color: #FEFFFE;
            border: 1px solid #969696;
            font-size: 18px;
            font-weight: 700; }
          .article-flex-filtre-inputs-search {
            margin: 24px 0 16px 0;
            display: block;
            text-align: center;
            color: #545454;
            font-weight: 700; }
            .article-flex-filtre-inputs-search-input {
              background: #E5E3E3;
              border: 2px solid #676767; }
          .article-flex-filtre-inputs-choise {
            display: block;
            margin-top: 36px;
            width: 100%;
            color: #545454;
            font-weight: 700; }
            .article-flex-filtre-inputs-choise-checkbox {
              margin-top: 16px;
              display: inline-block;
              text-align: left;
              background: green; }
            .article-flex-filtre-inputs-choise-label {
              margin-top: 16px;
              display: inline-block;
              width: 50%;
              text-align: left;
              color: #545454; } }
    .article-flex-aside {
      width: 100%;
      height: 100%;
      max-width: 1200px; }
      @media (min-width: 768px) {
        .article-flex-aside {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          margin: 0 auto; } }
      @media (min-width: 1200px) {
        .article-flex-aside {
          max-width: 1200px;
          width: 80%;
          height: 732px; } }
      .article-flex-aside-content {
        margin: 800px auto;
        width: 100%;
        max-width: 260px;
        margin: 24px auto;
        height: 340px;
        border: 1px solid #969696; }
        @media (min-width: 768px) {
          .article-flex-aside-content {
            margin: 12px 18px; } }
        .article-flex-aside-content-img {
          width: 100%;
          height: 60%; }
        .article-flex-aside-content-title {
          padding: 0 5%;
          margin: 8px 0;
          text-align: left;
          font-size: 12px; }
        .article-flex-aside-content-location {
          padding: 0 5% 8px 5%;
          margin: 0;
          text-align: left;
          position: relative;
          font-weight: 700;
          font-size: 18px; }
          .article-flex-aside-content-location::after {
            content: "";
            position: absolute;
            left: 5%;
            bottom: -2px;
            width: 36px;
            height: 4px;
            background: #545454; }
        .article-flex-aside-content-text {
          margin-top: 12px;
          padding: 0 5%;
          text-align: left; }
        .article-flex-aside-content-more {
          color: #545454;
          padding-right: 2.5%;
          display: inline-block;
          float: right;
          clear: all;
          text-align: right;
          margin-top: 8px;
          position: relative;
          transition: all ease 2s; }
          .article-flex-aside-content-more::after {
            content: "";
            background: #969696;
            position: absolute;
            bottom: -4px;
            left: 0;
            height: 1px;
            width: 0;
            transition: all ease 1s; }
          .article-flex-aside-content-more:hover::after {
            content: "";
            width: 84px;
            transition: all ease 1s; }

.hide {
  display: none; }

.magazine {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  background-image: url("../img/magback.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .magazine-title {
    margin-top: 10%;
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: lighter; }
    .magazine-title span {
      font-weight: bold; }
  .magazine-titleBar {
    display: none; }
  .magazine-cover {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; }
  .magazine-img {
    width: 230px;
    height: 330px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
  .magazine-magazine {
    color: #EBE9E9;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);
    /* décalage de 50% de sa propre taille */
    text-transform: uppercase;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
  .magazine-text {
    display: none; }
  .magazine-link {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    .magazine-link a {
      font-size: 21px;
      font-weight: 200;
      color: #000000;
      background-color: #FFFFFF;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
      padding: 15px;
      transition: all 0.3s; }
    .magazine-link a:hover {
      font-size: 21px;
      padding: 13px; }

.background {
  position: absolute;
  width: 50%;
  left: 0;
  height: 100vh;
  background-color: #D7FCF4;
  z-index: -1; }

@media (min-width: 700px) {
  .magazine {
    width: 100%;
    height: 800px; }
    .magazine-title {
      margin-left: auto;
      margin-right: auto;
      font-size: 25px; }
    .magazine-magazine {
      font-size: 60px; }
    .magazine-img {
      width: 290px;
      height: 400px; } }
@media (min-width: 1024px) {
  .magazine {
    width: 100%;
    height: 100vh; }
    .magazine-title {
      display: none; }
    .magazine-titleBar {
      margin-top: -17px;
      margin-left: 125px;
      display: block;
      width: 95px;
      height: 5px;
      background-color: #FFFFFF; }
    .magazine-cover {
      margin-top: 20vh;
      margin-left: 34%;
      margin-right: auto; }
    .magazine-magazine {
      font-size: 80px; }
    .magazine-img {
      margin: 10px auto;
      width: 400px;
      height: 580px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
    .magazine-text {
      position: absolute;
      display: block;
      width: 350px;
      margin-top: 21vh; }
    .magazine-descri {
      color: #676767;
      font-size: 24px;
      font-weight: bold;
      text-align: justify;
      line-height: 30px; }
    .magazine-linkLG {
      text-align: center;
      color: #676767;
      font-size: 22px;
      font-weight: bold;
      text-decoration: underline; }
    .magazine-link {
      display: none; }

  .breaker {
    width: 90%;
    margin-top: 70px;
    margin-bottom: 50px; } }
.top {
  width: 100%;
  height: auto; }
  .top-title {
    color: #676767;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 55px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px; }
  .top-text {
    color: #676767;
    margin-bottom: 50px;
    margin-left: 55px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px; }
  .top-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px; }
  .top-cut {
    display: none; }
  .top-items {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    margin-top: 40px;
    margin-right: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    transition: all 0.6s; }
    .top-items:hover img {
      filter: brightness(40%); }
    .top-items:hover p {
      opacity: 1; }
    .top-items img {
      width: 250px;
      height: 250px;
      position: absolute;
      z-index: -1;
      transition: all 0.3s; }
    .top-items p {
      text-transform: uppercase;
      text-align: center;
      margin-top: 100px;
      font-size: 20px;
      font-weight: bold;
      line-height: 25px;
      color: #FFFFFF;
      opacity: 0;
      transition: all 0.6s; }
    .top-items p:hover {
      color: #D7FCF4; }

@media (min-width: 900px) {
  .top-title {
    font-size: 25px;
    line-height: 35px; }
  .top-text {
    font-size: 20px; } }
@media (min-width: 1024px) {
  .top-title {
    margin-top: 120px;
    line-height: 35px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-align: left;
    margin-bottom: 35px; }
  .top-text {
    line-height: 35px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: left; } }
.admin {
  font-family: 'Futura', sans-serif;
  position: relative;
  position: relative;
  top: 140px;
  width: 100%;
  margin: 0 auto;
  border-top: 2px solid #161616;
  border-left: 2px solid #161616;
  border-right: 2px solid #161616;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .admin-header {
    position: fixed; }
  .admin-add {
    display: inline-block;
    position: absolute;
    text-transform: uppercase;
    top: -50px;
    border: 1px solid #8bcf54;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    padding: 10px 40px 10px 20px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #a9db80;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a9db80), to(#96c56f));
    background-image: -webkit-linear-gradient(top, #a9db80, #96c56f);
    background-image: -moz-linear-gradient(top, #a9db80, #96c56f);
    background-image: -ms-linear-gradient(top, #a9db80, #96c56f);
    background-image: -o-linear-gradient(top, #a9db80, #96c56f);
    background-image: linear-gradient(to bottom, #a9db80, #96c56f);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a9db80, endColorstr=#96c56f); }
    .admin-add:hover {
      border: 1px solid #74bf36;
      background-color: #8ed058;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#8ed058), to(#7bb64b));
      background-image: -webkit-linear-gradient(top, #8ed058, #7bb64b);
      background-image: -moz-linear-gradient(top, #8ed058, #7bb64b);
      background-image: -ms-linear-gradient(top, #8ed058, #7bb64b);
      background-image: -o-linear-gradient(top, #8ed058, #7bb64b);
      background-image: linear-gradient(to bottom, #8ed058, #7bb64b);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8ed058, endColorstr=#7bb64b); }
    .admin-add::after {
      content: "+";
      font-size: 42px;
      font-weight: 400;
      position: absolute;
      top: -5px;
      right: 7px; }
  @media (min-width: 768px) {
    .admin {
      width: 98%; } }
  @media (min-width: 992px) {
    .admin {
      max-width: 992px; } }
  .admin-section {
    display: flex; }
    .admin-section:not(:first-child) {
      border-bottom: 2px solid #161616; }
    .admin-section:nth-child(odd) {
      background: #95e5e5; }
    .admin-section-items {
      width: 50%;
      text-align: center;
      border-bottom: 2px solid #161616;
      padding: 8px 0;
      font-size: 24px;
      font-weight: 700;
      background: #84eded; }
      .admin-section-items:first-child {
        border-right: 1px solid #161616; }
      .admin-section-items:last-child {
        border-left: 1px solid #161616; }
    .admin-section-articles {
      display: flex;
      width: 50%; }
      .admin-section-articles-id {
        width: 25%;
        text-align: center;
        padding: 16px 0;
        border-right: 2px solid #161616; }
      .admin-section-articles-title {
        width: 75%;
        padding: 16px 0;
        text-align: center;
        border-right: 1px solid #161616; }
    .admin-section-commandes {
      text-transform: uppercase;
      display: flex;
      width: 50%;
      border-left: 1px solid #161616;
      padding: 16px 0;
      font-weight: 700; }
      .admin-section-commandes-btn {
        width: 33.33%;
        text-align: center; }
        .admin-section-commandes-btn-read {
          color: white;
          border-radius: 5px;
          background: #00cc39;
          padding: 8px 24px;
          transition: all ease 0.4s; }
          .admin-section-commandes-btn-read:hover {
            background: green; }
        .admin-section-commandes-btn-edit {
          color: white;
          border-radius: 5px;
          background: orange;
          padding: 8px 24px;
          transition: all ease 0.4s; }
          .admin-section-commandes-btn-edit:hover {
            background: #db681c; }
        .admin-section-commandes-btn-delete {
          color: white;
          border-radius: 5px;
          background: #d6251b;
          padding: 8px 24px;
          transition: all ease 0.4s; }
          .admin-section-commandes-btn-delete:hover {
            background: red; }

.add {
  padding-top: 80px;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Futura', sans-serif; }
  .add-form-label {
    width: 140px;
    display: inline-block;
    background: gray;
    padding: 8px;
    margin: 2px;
    text-align: right;
    font-weight: 700; }
  .add-form-input {
    width: 250px;
    padding: 7px;
    margin: 2px;
    margin-left: -7px; }
  .add-form-text {
    position: relative;
    top: 40px;
    left: -6px;
    padding: 20px 0; }
  .add-form-btns {
    display: flex; }
    .add-form-btns-add {
      color: white;
      width: 70%;
      font-size: 18px;
      text-align: center;
      padding: 16px;
      background: green;
      font-family: 'Futura', sans-serif;
      border: none;
      cursor: pointer; }
    .add-form-btns-back {
      color: white;
      width: 30%;
      font-size: 18px;
      text-align: center;
      padding: 16px;
      background: red;
      font-family: 'Futura', sans-serif;
      border: none;
      cursor: pointer; }

.ctrochiant {
  padding: 48px 8px 48px 0; }

.partners {
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap; }
  .partners-containt {
    margin-left: auto;
    margin-right: auto; }
  .partners-containtLeft {
    margin-left: auto;
    margin-right: auto; }
  .partners-title {
    margin-top: 30px;
    margin-left: 35px;
    font-size: 21px;
    font-weight: 200; }
    @media (min-width: 992px) {
      .partners-title {
        margin-top: 80px;
        margin-left: 70px;
        font-size: 40px; } }
    .partners-title span {
      font-size: 23px;
      font-weight: bold; }
      @media (min-width: 992px) {
        .partners-title span {
          font-size: 42px; } }
  .partners-textTitle {
    margin-top: 70px;
    margin-left: 35px;
    font-size: 24px;
    font-weight: bold; }
    @media (min-width: 992px) {
      .partners-textTitle {
        font-size: 34px;
        margin-left: 190px; } }
  .partners-text {
    margin-top: 10px;
    margin-left: 35px;
    margin-bottom: 20px;
    font-size: 19px;
    font-weight: 200; }
    @media (min-width: 992px) {
      .partners-text {
        font-size: 28px;
        margin-left: 190px; } }
  .partners-cardContainer {
    width: 250px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
  .partners-card {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 250px;
    height: 420px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    cursor: pointer; }
  .partners-cadre {
    cursor: pointer;
    margin: auto;
    top: 80;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 240px;
    height: 50px; }
  .partners-icons {
    margin-left: auto;
    margin-right: auto;
    width: 100%; }
    @media (min-width: 992px) {
      .partners-icons {
        margin-left: 130px;
        margin-right: 0;
        margin-top: -160px; } }
    .partners-icons img {
      margin-bottom: 40px; }
  .partners-aero {
    width: 225px;
    height: 86px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 55px;
    margin-top: 20px; }
    @media (min-width: 992px) {
      .partners-aero {
        width: 130px;
        height: 60px; } }
  .partners-fiji {
    width: 225px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 55px;
    margin-top: 35px; }
    @media (min-width: 992px) {
      .partners-fiji {
        width: 130px;
        height: 20px; } }
  .partners-nikon {
    width: 189px;
    height: 161px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 80px;
    margin-top: 35px; }
    @media (min-width: 992px) {
      .partners-nikon {
        width: 130px;
        height: 110px; } }

.twitter {
  width: 100%; }
  .twitter-title {
    background-color: #D7FCF4;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
    @media (min-width: 992px) {
      .twitter-title {
        font-size: 35px;
        margin-top: 100px; } }
  .twitter-cadre {
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 992px) {
      .twitter-cadre {
        width: 40%; } }
    .twitter-cadre img {
      width: 100%; }

.contact {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .contact-title {
    font-size: 23px;
    font-weight: bold;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px; }
    @media (min-width: 992px) {
      .contact-title p {
        font-size: 32px;
        margin-left: 90px; } }
  .contact-left {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .contact-left p {
      margin-top: 15px;
      font-size: 15px;
      font-weight: 200; }
      @media (min-width: 992px) {
        .contact-left p {
          margin-left: 50px;
          margin-top: 40px;
          font-size: 20px; } }
      .contact-left p span {
        font-weight: bold;
        font-size: 17px; }
        @media (min-width: 992px) {
          .contact-left p span {
            font-size: 23px; } }
  .contact-right {
    display: none;
    width: 100%;
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 992px) {
      .contact-right {
        display: block; } }
    .contact-right img {
      width: 100%; }

.footer {
  width: 100%;
  height: 100px;
  margin-top: 30px;
  overflow: hidden; }
  @media (min-width: 992px) {
    .footer {
      height: 150px; } }
  .footer-break {
    width: 80%;
    height: 4px;
    background-color: #D7FCF4;
    margin-left: auto;
    margin-right: auto; }
  .footer-list {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px; }
    @media (min-width: 992px) {
      .footer-list {
        margin-top: 50px;
        width: 50%; } }
    .footer-list li {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 12px;
      color: black; }
      @media (min-width: 992px) {
        .footer-list li {
          font-size: 19px; } }
  .footer-copy {
    font-size: 10px;
    text-align: center;
    color: black;
    margin-top: 30px; }
    @media (min-width: 992px) {
      .footer-copy {
        margin-top: 60px; } }

body {
  font-family: 'Futura';
  width: 100%; }

.goUp {
  margin-left: 85%;
  margin-right: 2%;
  margin-top: 90vh;
  position: fixed;
  z-index: 2222; }
  .goUp img {
    width: 40px;
    height: 40px;
    transition: all 0.3; }

@media (min-width: 550px) {
  .goUp {
    margin-left: 90%; } }
@media (min-width: 850px) {
  .goUp {
    margin-left: 94%; } }
.breaker {
  width: 80%;
  height: 5px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  z-index: 44; }

/*# sourceMappingURL=styles.css.map */
