@font-face {
  font-family: 'Didot';
  src: url('././fonts/Didot.ttf');
}

@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('../fonts/AvenirNext-Bold.ttf');
}

@font-face {
  font-family: 'AvenirNext-BoldItalic';
  src: url('../fonts/AvenirNext-BoldItalic.ttf');
}

@font-face {
  font-family: 'AvenirNext-DemiBold';
  src: url('../fonts/AvenirNext-DemiBold.ttf');
}

@font-face {
  font-family: 'AvenirNext-DemiBoldItalic';
  src: url('../fonts/AvenirNext-DemiBoldItalic.ttf');
}

@font-face {
  font-family: 'AvenirNext-Heavy';
  src: url('../fonts/AvenirNext-Heavy.ttf');
}

@font-face {
  font-family: 'AvenirNext-HeavyItalic';
  src: url('../fonts/AvenirNext-HeavyItalic.ttf');
}

@font-face {
  font-family: 'AvenirNext-Italic';
  src: url('../fonts/AvenirNext-Italic.ttf');
}

@font-face {
  font-family: 'AvenirNext-Medium';
  src: url('../fonts/AvenirNext-Medium.ttf');
}

@font-face {
  font-family: 'AvenirNext-MediumItalic';
  src: url('../fonts/AvenirNext-MediumItalic.ttf');
}

@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('../fonts/AvenirNext-Regular.ttf');
}

@font-face {
  font-family: 'AvenirNext-UltraLight';
  src: url('../fonts/AvenirNext-UltraLight.ttf');
}

@font-face {
  font-family: 'AvenirNext-UltraLightItalic';
  src: url('../fonts/AvenirNext-UltraLightItalic.ttf');
}
