html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'Didot';
  src: url("././fonts/Didot.ttf"); }

@font-face {
  font-family: 'AvenirNext-Bold';
  src: url("../fonts/AvenirNext-Bold.ttf"); }

@font-face {
  font-family: 'AvenirNext-BoldItalic';
  src: url("../fonts/AvenirNext-BoldItalic.ttf"); }

@font-face {
  font-family: 'AvenirNext-DemiBold';
  src: url("../fonts/AvenirNext-DemiBold.ttf"); }

@font-face {
  font-family: 'AvenirNext-DemiBoldItalic';
  src: url("../fonts/AvenirNext-DemiBoldItalic.ttf"); }

@font-face {
  font-family: 'AvenirNext-Heavy';
  src: url("../fonts/AvenirNext-Heavy.ttf"); }

@font-face {
  font-family: 'AvenirNext-HeavyItalic';
  src: url("../fonts/AvenirNext-HeavyItalic.ttf"); }

@font-face {
  font-family: 'AvenirNext-Italic';
  src: url("../fonts/AvenirNext-Italic.ttf"); }

@font-face {
  font-family: 'AvenirNext-Medium';
  src: url("../fonts/AvenirNext-Medium.ttf"); }

@font-face {
  font-family: 'AvenirNext-MediumItalic';
  src: url("../fonts/AvenirNext-MediumItalic.ttf"); }

@font-face {
  font-family: 'AvenirNext-Regular';
  src: url("../fonts/AvenirNext-Regular.ttf"); }

@font-face {
  font-family: 'AvenirNext-UltraLight';
  src: url("../fonts/AvenirNext-UltraLight.ttf"); }

@font-face {
  font-family: 'AvenirNext-UltraLightItalic';
  src: url("../fonts/AvenirNext-UltraLightItalic.ttf"); }

.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.Logo__img {
  width: 40px;
  margin-top: 20px;
  margin-left: 20px; }

.Menu {
  width: 50px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 20px; }

.Top {
  background-position: left;
  background-size: cover;
  height: 100vh; }
  .Top__titles {
    margin-top: 200px;
    margin-left: 20px; }
  .Top__hotelTitle {
    font-family: 'AvenirNext-Regular';
    color: white;
    font-size: 38px;
    line-height: 48px; }

.Plugs {
  background: white;
  width: 100%; }

.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px; }
  .Container__plug {
    width: 250px;
    height: 250px;
    background: white;
    margin-top: 50px;
    -webkit-box-shadow: 2px 2px 12px -1px #cccccc;
    -moz-box-shadow: 2px 2px 12px -1px #cccccc;
    box-shadow: 2px 2px 12px -1px #cccccc;
    position: relative; }
  .Container__imgContainer {
    width: 100%;
    height: 125px; }
  .Container__img {
    width: 100%;
    height: 100%; }
  .Container__countryTitle {
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Didot';
    color: #32CCCD; }
  .Container__cityTitle {
    margin-left: 10px;
    font-family: 'AvenirNext-Regular';
    color: #646464;
    font-size: 18px; }
  .Container__cityTitleContainer {
    margin-top: 5px;
    line-height: 20px; }
  .Container__place {
    width: 50px;
    height: 50px;
    background: #32CCCD;
    border-radius: 100%;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 100px;
    right: -25px; }
  .Container__placeText {
    font-family: 'AvenirNext-Regular';
    color: white; }

.Oneplug {
  background: white; }
  .Oneplug__header {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
  .Oneplug__headerTextContainer {
    line-height: 32px;
    padding-top: 40px;
    padding-left: 20px; }
  .Oneplug__headerCountryTitle {
    font-family: 'AvenirNext-Regular';
    color: #32CCCD; }
  .Oneplug__headerCityTitle {
    font-family: 'AvenirNext-Regular';
    color: white;
    font-size: 30px; }
  .Oneplug__contentParagraph {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex; }
  .Oneplug__line {
    width: 20px;
    height: 3px;
    background: #32CCCD;
    margin-top: 8px; }
  .Oneplug__paragraph {
    width: 80%;
    font-family: 'AvenirNext-Regular';
    margin-left: 10px;
    color: #646464;
    line-height: 20px; }
  .Oneplug__closeIconContainer {
    position: absolute;
    top: 10px;
    right: 10px; }
  .Oneplug__iconsContainer {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column; }
  .Oneplug__iconsLine {
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
  .Oneplug__iconBox {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 20px; }
  .Oneplug__text {
    margin-top: 10px;
    font-family: 'AvenirNext-Regular';
    font-size: 12px;
    line-height: 16px;
    text-align: center; }
