@import "global/variables";
@import "mixin/forsize";

@import "./compenents/reset";
@import "./compenents/header";
@import "./compenents/fourcards";
@import "./compenents/article";
@import "./compenents/green";
@import "./compenents/lastArticles";
@import "./compenents/reading";
@import "./compenents/top";
@import "./compenents/tweet";
@import "./compenents/pratiques";
@import "./compenents/fiche";
@import "./compenents/subscribe";
@import "./compenents/aboutus";
@import "./compenents/bot";
@import "./compenents/partenaire";
@import "./compenents/footer";

@font-face {
font-family: 'Tw Cen MT Condensed Extra Bold';
font-style: normal;
font-weight: normal;
src: local('Tw Cen MT Condensed Extra Bold'), url('../fonts/TCCEB.woff') format('woff');
}

@font-face {
font-family: 'Tw Cen MT Condensed';
font-style: normal;
font-weight: normal;
src: local('Tw Cen MT Condensed'), url('../fonts/TCCM____.woff') format('woff');
}

@font-face {
font-family: 'Tw Cen MT Bold';
font-style: normal;
font-weight: normal;
src: local('Tw Cen MT Bold'), url('../fonts/TCB_____.woff') format('woff');
}


@font-face {
font-family: 'Playfair Display Black';
font-style: normal;
font-weight: normal;
src: local('Playfair Display Black'), url('../fonts/PlayfairDisplay-Black.ttf') format('ttf');
}

@font-face {
font-family: 'Playfair Display BlackItalic';
font-style: normal;
font-weight: normal;
src: local('Playfair Display BlackItalic'), url('../fonts/PlayfairDisplay-BlackItalic.ttf') format('ttf');
}

@font-face {
font-family: 'Playfair Display Regular';
font-style: normal;
font-weight: normal;
src: local('Playfair Display Regular'), url('../fonts/PlayfairDisplay-Regular.ttf') format('ttf');
}

body {
  position: relative;
  z-index: 0;
}
