.footer{
    background: #f7f7f7;
    padding-top: 50px;
    padding-bottom: 30px;
    
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .left{
        .menu{
            padding: 0;
            list-style: none;
            display: inline-block;
            
            li{
                display: inline-block;
                margin: 0 4px;
                font-size: 12px;
            }
        }
    }
}