.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

@media only screen and (min-width: 48em) {
  .container {
    width: 49rem;
  }

  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-sm {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (min-width: 64em) {
  .container {
    width: 65rem;
  }

  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-md {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 76rem;
  }

  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-lg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  position: relative;
  height: 100vh; }
  .header-logoImg {
    position: fixed;
    z-index: 1; }
  .header-bgImg {
    position: absolute;
    height: 100vh;
    width: 100%; }
  .header-list {
    list-style: none;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 200px;
    z-index: 1; }
  .header-listItemLeft {
    margin-left: 50px;
    margin-top: 23px; }
  .header-listItemLeft-active {
    margin-left: 50px;
    border-top: solid 4px #D2A900;
    padding-top: 19px; }
  .header-listItemRight {
    margin-left: 458px;
    margin-top: 23px; }
  .header-listItemRight-active {
    margin-left: 458px;
    border-top: solid 4px #D2A900;
    padding-top: 19px; }
  .header-container {
    height: 60px;
    position: fixed;
    background-color: #222222;
    width: 100%; }
  .header a {
    text-decoration: none;
    color: white;
    font-size: 12px; }
  .header-title {
    color: white;
    font-size: 60px;
    margin-left: 250px;
    padding-top: 420px;
    font-family: 'Playfair Display', serif; }
  .header-sentence {
    color: white;
    font-size: 16px;
    margin-left: 250px;
    margin-top: 10px;
    line-height: 24px; }
  .header-itemBtn {
    font-size: 12px;
    color: black;
    background-color: white;
    margin-top: 40px;
    margin-left: 250px;
    width: 157px;
    height: 40px; }
    .header-itemBtn:focus {
      outline: none; }

.mook {
  position: relative; }
  .mook-bgImg {
    width: 100%;
    height: 100vh;
    position: absolute; }
  .mook-title {
    color: black;
    font-size: 60px;
    margin-left: 250px;
    padding-top: 420px;
    font-family: 'Playfair Display', serif; }
  .mook-sentence {
    color: black;
    font-size: 16px;
    margin-left: 250px;
    margin-top: 10px;
    line-height: 24px; }
  .mook-itemBtn {
    font-size: 12px;
    color: white;
    font-weight: 100;
    background-color: black;
    margin-top: 40px;
    margin-left: 250px;
    width: 157px;
    height: 40px; }
    .mook-itemBtn:focus {
      outline: none; }
  .mook-bookImg {
    position: absolute;
    margin-left: 544px;
    margin-top: 141px; }
  .mook-yellowDiv {
    margin-top: 60px;
    background-color: #D2A900;
    width: 100%;
    height: 148px; }
  .mook-partners {
    position: relative;
    background-color: #E4E4E4;
    height: 150px;
    width: 100%;
    z-index: -1; }
  .mook-nikon {
    position: absolute;
    margin-left: 475px;
    margin-top: 45px;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }
  .mook-fujifilm {
    position: absolute;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    margin-left: 605px;
    margin-top: 60px; }
  .mook-adp {
    position: absolute;
    margin-left: 805px;
    margin-top: 31px;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }
  .mook-dessin {
    margin-top: 120px;
    display: -ms-flexbox;
    display: flex; }
    .mook-dessin-barque {
      margin-left: 360px;
      text-align: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center;
      z-index: -1; }
      .mook-dessin-barque-border {
        position: relative;
        height: 120px;
        width: 120px;
        border: #D2A900 2px solid; }
      .mook-dessin-barque-title {
        font-size: 14px;
        position: absolute;
        color: #D2A900;
        bottom: 3px;
        right: 6px;
        font-family: 'HelveticaNeue-CondensedBold'; }
      .mook-dessin-barque-sentence {
        font-size: 14px;
        padding-top: 20px;
        line-height: 22px; }
    .mook-dessin-reportages {
      text-align: center;
      margin-left: 140px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center;
      z-index: -1; }
      .mook-dessin-reportages-border {
        position: relative;
        height: 120px;
        width: 120px;
        border: #D2A900 2px solid; }
      .mook-dessin-reportages-title {
        font-size: 14px;
        position: absolute;
        bottom: 3px;
        color: #D2A900;
        right: 6px;
        font-family: 'HelveticaNeue-CondensedBold'; }
      .mook-dessin-reportages-sentence {
        margin-top: 20px;
        font-size: 14px;
        line-height: 22px; }
    .mook-dessin-qualite {
      margin-left: 140px;
      text-align: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center;
      z-index: -1; }
      .mook-dessin-qualite-border {
        height: 120px;
        width: 120px;
        border: #D2A900 2px solid;
        position: relative; }
      .mook-dessin-qualite-title {
        font-size: 14px;
        font-family: 'HelveticaNeue-CondensedBold';
        position: absolute;
        bottom: 3px;
        right: 6px;
        color: #D2A900; }
      .mook-dessin-qualite-sentence {
        margin-top: 20px;
        font-size: 14px;
        line-height: 22px; }
    .mook-dessin-40000 {
      margin-left: 376px;
      text-align: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center;
      z-index: -1; }
      .mook-dessin-40000-border {
        position: relative;
        height: 120px;
        width: 120px;
        border: #D2A900 2px solid; }
      .mook-dessin-40000-title {
        font-size: 14px;
        position: absolute;
        color: #D2A900;
        bottom: 3px;
        right: 6px;
        font-family: 'HelveticaNeue-CondensedBold'; }
      .mook-dessin-40000-sentence {
        font-size: 14px;
        padding-top: 20px;
        line-height: 22px; }
    .mook-dessin-fiches {
      margin-left: 160px;
      text-align: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center;
      z-index: -1; }
      .mook-dessin-fiches-border {
        position: relative;
        height: 120px;
        width: 120px;
        border: #D2A900 2px solid; }
      .mook-dessin-fiches-title {
        font-size: 14px;
        position: absolute;
        color: #D2A900;
        bottom: 3px;
        right: 6px;
        font-family: 'HelveticaNeue-CondensedBold'; }
      .mook-dessin-fiches-sentence {
        font-size: 14px;
        padding-top: 20px;
        line-height: 22px; }
    .mook-dessin-tv {
      margin-left: 170px;
      text-align: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center;
      z-index: -1; }
      .mook-dessin-tv-border {
        position: relative;
        height: 120px;
        width: 120px;
        border: #D2A900 2px solid; }
      .mook-dessin-tv-title {
        font-size: 14px;
        position: absolute;
        color: #D2A900;
        bottom: 3px;
        right: 6px;
        font-family: 'HelveticaNeue-CondensedBold'; }
      .mook-dessin-tv-sentence {
        font-size: 14px;
        padding-top: 20px;
        line-height: 22px; }
  .mook-dessinScd {
    margin-top: 120px;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px; }
  .mook-team {
    width: 100%;
    height: 404px;
    background-color: #E4E4E4; }
  .mook-footer {
    width: 100%;
    height: 300px;
    background-color: #D2A900; }
  .mook-footerTitle {
    font-size: 24px;
    color: black;
    font-family: 'Playfair Display', serif;
    margin-left: 200px;
    padding-top: 50px; }
  .mook-footerSentence {
    font-size: 14px;
    color: black;
    margin-left: 200px;
    padding-top: 10px;
    line-height: 22px; }
  .mook-footerBtn {
    width: 170px;
    height: 40px;
    margin-left: 200px;
    margin-top: 20px;
    font-size: 12px;
    background-color: white;
    border: none; }
    .mook-footerBtn:focus {
      outline: none; }
  .mook-social {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 1120px; }
    .mook-social-facebook {
      margin-right: 24px; }
    .mook-social-instagram {
      margin-right: 24px; }
  .mook-copyright {
    margin-left: 941px;
    margin-top: 19px;
    font-size: 12px; }
  .mook-team {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding-right: 240px;
    padding-left: 240px; }
    .mook-team-one {
      text-align: center;
      margin-top: 90px; }
      .mook-team-one-title {
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        margin-top: 20px; }
      .mook-team-one-sentence {
        font-size: 12px;
        margin-top: 10px;
        line-height: 16px; }
    .mook-team-two {
      text-align: center;
      margin-top: 90px; }
      .mook-team-two-title {
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        margin-top: 20px; }
      .mook-team-two-sentence {
        font-size: 12px;
        margin-top: 10px;
        line-height: 16px; }
    .mook-team-three {
      text-align: center;
      margin-top: 90px; }
      .mook-team-three-title {
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        margin-top: 20px; }
      .mook-team-three-sentence {
        font-size: 12px;
        margin-top: 10px;
        line-height: 16px; }
    .mook-team-four {
      text-align: center;
      margin-top: 90px; }
      .mook-team-four-title {
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        margin-top: 20px; }
      .mook-team-four-sentence {
        font-size: 12px;
        margin-top: 10px;
        line-height: 16px; }

.home {
  height: 60px;
  background-color: #D2A900;
  z-index: -1; }
  .home-sticky {
    position: -webkit-sticky;
    position: sticky;
    height: 90px;
    background-color: #D2A900;
    z-index: -1; }
  .home-list {
    list-style: none;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-left: 250px;
    margin-top: 11px;
    overflow-x: scroll; }
  .home-title {
    padding-top: 20px;
    font-size: 12px;
    color: white;
    padding-left: 250px; }
  .home-button {
    padding: 8px 20px;
    border: 1px solid black;
    color: black;
    background-color: transparent;
    white-space: nowrap; }
    .home-button:focus {
      outline: none; }
  .home-listItem {
    margin-right: 15px; }
  .home-replacelogo {
    position: absolute;
    background-color: #222222;
    width: 150px;
    height: 150px; }
  .home-container {
    display: -ms-flexbox;
    display: flex; }
  .home-containerImage {
    width: 280px;
    height: 280px;
    position: relative; }
  .home-gastronomie {
    background-color: #D2A900;
    width: 114px;
    height: 30px;
    position: absolute;
    text-align: center;
    -ms-flex-align: end;
        align-items: flex-end;
    padding-top: 8px;
    right: 0; }
  .home-previous {
    width: 40px;
    height: 40px; }
  .home-next {
    width: 40px;
    height: 40px; }
  .home-arrow {
    width: 40px;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 0; }
  .home-carousel img {
    display: none;
    width: 280px;
    height: 280px; }
  .home-carousel img.is-active {
    display: block;
    -o-object-fit: cover;
       object-fit: cover; }
  .home-articles {
    position: relative;
    width: 280px;
    height: 280px; }
    .home-articles-background {
      background-color: #222222;
      opacity: 0.9;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 90px; }
  .home-country {
    font-size: 10px;
    color: #D2A900;
    margin-left: 30px;
    margin-top: 3px; }
    .home-country-div {
      display: -ms-flexbox;
      display: flex; }
    .home-country-img {
      width: 280px;
      height: 280px; }
    .home-country-title {
      color: white;
      font-size: 16px;
      font-family: 'Playfair Display', serif;
      width: 220px;
      line-height: 22px;
      margin-left: 30px;
      margin-top: 20px; }
    .home-country-date {
      font-size: 10px;
      color: #9B9B9B;
      margin-top: 3px;
      margin-left: 10px; }

.classement-header {
  display: none; }
  @media (min-width: 1200px) {
    .classement-header {
      display: -ms-flexbox;
      display: flex;
      margin-bottom: -100vh; } }

.classement-top {
  position: relative;
  margin-top: 10px; }

.classement-back {
  position: fixed;
  font-size: 18px;
  text-decoration: none;
  color: black;
  margin-left: 96px;
  height: 26px;
  margin-top: 200vh;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
  @media (min-width: 1200px) {
    .classement-back {
      display: none; } }

.classement-arrow {
  position: fixed;
  font-size: 18px;
  text-decoration: none;
  color: black;
  margin-left: 100px;
  height: 26px;
  margin-top: 200vh; }
  @media (min-width: 1200px) {
    .classement-arrow {
      display: none; } }

.classement-img {
  margin-left: 125px; }
  @media (min-width: 1200px) {
    .classement-img {
      margin-left: 45%;
      margin-top: 100px; } }

.classement-container {
  text-align: center; }
  @media (min-width: 1200px) {
    .classement-container {
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 50px;
      -ms-flex-align: center;
          align-items: center; } }
  .classement-container-first-article1desktop {
    display: none; }
    @media (min-width: 1200px) {
      .classement-container-first-article1desktop {
        display: -ms-flexbox;
        display: flex;
        margin-left: 100px; } }
  .classement-container-first-article2desktop {
    display: none; }
    @media (min-width: 1200px) {
      .classement-container-first-article2desktop {
        display: -ms-flexbox;
        display: flex;
        margin-left: 20px; } }
  .classement-container-first-article3desktop {
    display: none; }
    @media (min-width: 1200px) {
      .classement-container-first-article3desktop {
        display: -ms-flexbox;
        display: flex;
        margin-left: 80px; } }
  @media (min-width: 1200px) {
    .classement-container-first-article1 {
      display: none; } }
  @media (min-width: 1200px) {
    .classement-container-first-article2 {
      display: none; } }
  @media (min-width: 1200px) {
    .classement-container-first-article3 {
      display: none; } }
  .classement-container-first-text {
    text-align: center;
    font-size: 13px;
    background-color: black;
    color: white;
    width: 80px;
    height: 36px;
    position: absolute;
    right: 20%;
    top: 52.4%;
    padding-top: 12px;
    text-decoration: none; }
    @media (min-width: 1200px) {
      .classement-container-first-text {
        left: 26%;
        top: 78%;
        text-decoration: none; } }
  .classement-container-second-text {
    text-align: center;
    font-size: 13px;
    background-color: black;
    color: white;
    width: 80px;
    height: 36px;
    position: absolute;
    right: 20%;
    padding-top: 12px;
    top: 102%;
    text-decoration: none; }
    @media (min-width: 1200px) {
      .classement-container-second-text {
        top: 78%;
        left: 52.6%;
        text-decoration: none; } }
  .classement-container-third-text {
    text-align: center;
    font-size: 13px;
    background-color: black;
    color: white;
    width: 80px;
    height: 36px;
    position: absolute;
    right: 20%;
    bottom: -56.6%;
    padding-top: 12px;
    text-decoration: none; }
    @media (min-width: 1200px) {
      .classement-container-third-text {
        top: 78%;
        right: 13.6%;
        text-decoration: none; } }

.classement-plus {
  font-family: 'Lato', serif;
  font-size: 18px;
  color: #707070;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px; }
  @media (min-width: 1200px) {
    .classement-plus {
      font-size: 26px;
      font-family: 'Lato', serif;
      color: #707070;
      margin-top: 66px; } }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  width: 100%;
  font-size: 62.5%; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
